[2015-11-16 07:02] SamVerschueren opened #1 "Fix for 0.10.x"
Fix the plugin for VS Code `0.10.x`.

[2015-11-17 12:33] #1 closed

[2015-11-17 12:34] SamVerschueren opened #2 "Fix icon in web gallery"
Fix the icon in the web gallery.

[2015-11-17 18:59] #2 closed

[2015-11-19 22:00] SamVerschueren opened #3 "Add `fix` command"
Add command that fix most linting issues.

[2015-11-25 12:54] #3 closed

[2016-03-05 08:40] Pszek opened #4 "cannot find eslint-plugin-react"
I get the error message: "cannot find eslint-plugin-react". I installed xo both locally and global and eslint-react-plugin locally only (and I would like to stay it that way).

[2016-03-05 09:06] SamVerschueren commented on #4
Have you configured XO to use the plugin?

[2016-03-05 12:57] Pszek commented on #4
Thanks for quick response. Yes, I used plugins array in xo config placed in package.json.

[2016-03-05 13:10] SamVerschueren commented on #4
Have you used `react` as value or `eslint-plugin-react`?

[2016-03-05 13:15] Pszek commented on #4
[code]

[2016-03-05 13:20] SamVerschueren commented on #4
Thanks, this is helpfull. Will have a look late today.

[2016-03-05 18:25] SamVerschueren commented on #4
This is odd, it works fine on my machine. Just copy-pasted some React example.

![screenshot](https://cloud.githubusercontent.com/assets/1913805/13549550/d94969ec-e307-11e5-96c9-5a470073e024.gif)

This is my `xo` configuration in `package.json`

[code]

My dev-dependencies:
- eslint-config-xo-react
- eslint-plugin-react

Can you take a screenshot of the error message? Curious where it shows that e

[2016-03-05 19:27] Pszek commented on #4
![untitled](https://cloud.githubusercontent.com/assets/10253750/13549885/8a40a47e-e310-11e5-8217-f3b847b50bb6.gif)

Also on the left pane my dependencies.

[2016-03-05 19:36] SamVerschueren commented on #4
That's odd. What happens when you run `xo` on that project from the terminal?

[2016-03-05 20:33] Pszek commented on #4
Yep it fails. So  it is not Your add on issue. Closing issue.

[2016-03-05 20:37] SamVerschueren commented on #4
Try `rm -rf node_modules && npm install` to make sure you have all the dependencies.

[2016-03-05 20:39] Pszek commented on #4
done that. I think I messed something after updating to npm 3 or devDependencies.

[2016-04-15 08:30] sindresorhus opened #5 "Pass `filename` to lintText"
See https://github.com/sindresorhus/SublimeLinter-contrib-xo/commit/35bb3d3579b7ef072b3f41b686c1e504dc8702ab#diff-6c1f4f1574c85da37dc4dd59341c9a39R15 and https://github.com/sindresorhus/atom-linter-xo/commit/e4fbc732bb469cddfec16eadcc681669c1143dd5

This is needed by some ESLint rules.

-

Btw, unrelated, but you could simplify this https://github.com/SamVerschueren/vscode-linter-xo/blob/ceee4cf11

[2016-04-15 08:37] SamVerschueren commented on #5
Thanks Sindre for reporting this, much appreciated :)!

Nice, didn't know that.

[2016-04-15 08:47] sindresorhus commented on #5
I didn't either some hours ago https://github.com/sindresorhus/atom-linter-xo/commit/f760f70885402f4ef1d45d6a706caf5c1e797105#diff-168726dbe96b3ce427e7fedce31bb0bcL49. It makes sense since `lintText` only accepts a string (1 file).

[2016-04-16 18:35] #5 closed

[2016-04-16 19:00] SamVerschueren commented on #5
Thanks Sindre for keeping me up-to-date ;). There is a VS Code issue a.t.m. that keeps me from releasing a new version but as soon as that is addressed, a fix is being released.

[2016-04-21 08:06] SamVerschueren commented on #5
Released 💃

[2016-04-24 11:17] Pszek commented on #4
Reopnening (earlier resigned from using VSC, but now I use it again).
XO in other editors as well as in CLI works. I 've got still the same problem 'cannot find eslint-plugin-react'.
Is there a way I can turn on debugging for linter (like in Atom), so it would be easier to find a cause?

[2016-04-24 15:30] wmertens opened #6 "This socket has been ended by the other party"
[code]

I can't get it to lint at all, any ideas?

[2016-04-24 15:34] Pszek commented on #4
this is eslint issue

[2016-04-24 15:34] #4 closed

[2016-04-24 15:52] wmertens commented on #6
actually, XO doesn't work from the command line. Investigating…

[2016-04-25 09:34] wmertens commented on #6
removed eslint and eslint-babel from my own deps, and re-installed XO, it works fine now.

I suppose the warning could be more obvious though… Perhaps add a "try running `$(npm bin)/xo` from the command line"?

[2016-04-25 09:34] #6 closed

[2016-04-25 09:38] wmertens opened #7 "XO Fix => empty file"
When I run XO Fix, it clears the file.

That certainly resolves all issues though not in the way I was hoping 😉

[2016-04-25 09:39] SamVerschueren commented on #7
Noticed this as well. Make sure the file is not dirty by just saving it and run `XO Fix` again. Does that work? Might be an issue with dirty files.

[2016-04-25 10:43] wmertens commented on #7
Figured it out: if there was no change, it deletes the contents. So that's a small bug to fix.

Note that the Atom linter doesn't require that the file is saved: https://github.com/sindresorhus/atom-linter-xo/blob/master/index.js#L100-L120

[2016-04-25 11:42] SamVerschueren commented on #7
Aha, good catch! Thanks for investigating.

[2016-04-25 11:54] SamVerschueren commented on #7
It seems this is a little bit more work then I thought. They added a bunch of new features since I created this plugin so I have to refactor it drastically. Not much time a.t.m. but keep you posted.

[2016-04-27 12:10] SamVerschueren opened #8 "disable warning if `xo` is not a dependency"
In some projects, you don't want to enable `XO` and then you get the annoying warning that `XO` is not installed. It would be nice to implement a setting `showInstallationWarning` or something that can be set to `false` to suppress the warning.

[2016-05-14 17:32] m4bwav opened #9 "2-space formatting tends to convert tabs into more tabs."
When I try to autofix spacing issues when converting from tabs to 2-space npm style the spacing gets ruined with extra tabs or spaces.

[2016-05-14 17:40] SamVerschueren commented on #9
The only thing this extension does is pass the `fix` command to [XO](https://github.com/sindresorhus/xo) which on his turn passes the `fix` command to `ESLint`. So this is an `ESLint` issue, not an issue with this extension so I'd suggest to file a bug at the ESLint repo.

[2016-05-14 17:40] #9 closed

[2016-05-14 17:44] m4bwav commented on #9
Alright, my bad.

[2016-05-14 17:44] SamVerschueren commented on #9
No problem :)

[2016-06-06 10:30] mrmlnc opened #10 "The problem with the rule `prefer-const`"
I have a problem with rule `prefer-const` ([prefer-const](http://eslint.org/docs/rules/prefer-const)) in this plugin.

For example:

[code]

My config in `package.json`:

[code]

The output of XO CLI:

![image](https://cloud.githubusercontent.com/assets/7034281/15819193/64c9f86c-2bea-11e6-98a7-ae2bdf42dbfc.png)

The output of this plugin:

![image](https://cloud.githubusercontent.com/assets/703428

[2016-06-06 10:36] SamVerschueren commented on #10
Are you sure you enabled the plugin? https://github.com/SamVerschueren/vscode-linter-xo#settings

[2016-06-06 10:58] mrmlnc commented on #10
@SamVerschueren yes,
![image](https://cloud.githubusercontent.com/assets/7034281/15819945/b1c6f012-2bee-11e6-8909-686e03f7c9e2.png)

[2016-06-06 11:10] SamVerschueren commented on #10
That's odd, it works correctly for me. Could you remove the XO config in `package.json`, reload the window, and see if it's still not working?

What's the version output of the following commands?

[code]

[2016-06-06 15:45] mrmlnc commented on #10
Oh, @SamVerschueren, sorry.

I forgot that the rules in `package.json` will be overridden by rules in the preferences editor.

[2016-06-06 15:45] #10 closed

[2016-06-06 15:56] SamVerschueren commented on #10
No problem, glad it is resolved :)

[2016-06-23 08:23] kaasdude commented on #7
+1

[2016-07-11 13:39] mrmlnc opened #11 "XO should clear errors if a file gets closed"
Source: https://github.com/Microsoft/vscode-eslint/issues/94

[code]

[2016-07-11 18:46] SamVerschueren commented on #11
Thanks @mrmlnc

[2016-07-12 06:16] #11 closed

[2016-07-12 15:00] mrmlnc commented on #11
@SamVerschueren, maybe you publish a new version? :yum:

[2016-07-12 17:49] SamVerschueren commented on #11
Sorry, done :)

[2016-07-17 19:50] SamVerschueren commented on #7
Released `v2.0.0` which should fix this issue. Please reopen if you still experience some issues with it.

[2016-07-17 19:50] #7 closed

[2016-07-17 19:52] SamVerschueren commented on #8
We should just check if the `xo` is available as `dependency` in `package.json`. If that's not the case, the plugin should not do anything.

[2016-07-17 21:02] wmertens commented on #7
I can't reopen, but the issue is still there :-/

To reproduce:
1. XO Fix
2. Save
3. XO Fix

[2016-07-17 21:05] wmertens opened #13 "Only passes saved contents to XO Fix"
To run XO Fix, you first have to save the file. If not, it will overwrite your pending changes with the fixed version of the file on disk.

To reproduce:
1. Edit a file, change
2. XO Fix
3. Your changes are removed

[2016-07-17 21:08] wmertens opened #14 "Disable when project doesn't use XO"
Similar to https://github.com/sindresorhus/atom-linter-xo/blob/master/index.js#L28-L34

[2016-07-17 21:11] SamVerschueren commented on #14
Duplicate of #8 :)

[2016-07-17 21:11] #14 closed

[2016-07-17 21:12] wmertens commented on #14
D'oh! Sorry :)

[2016-07-17 21:15] SamVerschueren commented on #13
Seems to work for me though. Or am I doing something wrong?

![xo-fix](https://cloud.githubusercontent.com/assets/1913805/16903097/4a628692-4c74-11e6-90d9-b9637896620f.gif)

[2016-07-17 21:18] wmertens commented on #13
Aargh! I was testing the previous version :( I had updated and restarted but apparently the update didn't take. Sorry for the noise, working as it should! 👍

[2016-07-17 21:18] #13 closed

[2016-07-17 21:19] SamVerschueren commented on #13
Ah, I'm glad it's fixed. No problem, those things happen ;).

[2016-07-18 10:49] wmertens opened #15 "Add links to rule explanations?"
Not sure if this is possible, but it would be nice to be able to go to a rule definition (like the github issue or eslint docs) when eslint marks something.

So if I see `no-use-extend-native` it somehow links to https://github.com/dustinspecker/eslint-plugin-no-use-extend-native/blob/master/readme.md

[2016-07-18 11:00] SamVerschueren commented on #15
That would really be a very nice addition. It can be opened when using <kbd>Cmd</kbd> + click or something.

I guess it would be easier to implement if we redirect to the `npm` webpage. For instance to https://www.npmjs.com/package/eslint-plugin-no-use-extend-native. This way we don't have to fetch the repository of that rule. We can start with implementing this and if it looks like it's not enoug

[2016-07-19 07:07] #8 closed

[2016-07-19 13:21] wmertens opened #16 "Action to add ignore to a line"
It would be cool if you could run an action to automatically ignore the current offending rule for the line (or file).

So if you have to use some older API and it has snake_case on a line, causing a violation of `camelcase`, you can run the action and it would add `// eslint-disable-line camelcase` to that line.

[2016-07-19 14:59] mrmlnc opened #17 "Support XO not only as pure package"
Hello, @SamVerschueren,

New version solves many problems, but brings new. In previous versions i could use this extension if i had installed any package that contains XO. In the current version, can i use an extension only if the have XO in the dependencies.

For example:

![2016-07-19_17-51-15](https://cloud.githubusercontent.com/assets/7034281/16954399/6c78057a-4dd9-11e6-81e1-c8fc2992c559.gif)

[2016-07-19 17:29] SamVerschueren commented on #17
@sindresorhus @wmertens feedback?

[2016-07-19 17:44] wmertens commented on #17
Not depending on xo but using it is a mistake IMHO.

An option is to check if the xo property is set in the package.json, and then hoping xo will come from somewhere (perhaps even the linter package). This only works if there are no extra plugins defined, because they will depend on eslint and/or xo and will require you to install them anyway.

[2016-07-20 06:34] SamVerschueren commented on #17
I'm with @wmertens  on this. I think it's not a good idea to not use XO directly as a dependency and still depend on it hoping that you'll never remove `gulp-xo`.

For instance, I might be depending on package `A` which in turns depends on package `B`. Because I know that, I might be able to `require('B');` while it is not in my dependency list. If `A` decides to swap out `B` for dependency `C`, m

[2016-07-20 06:53] SamVerschueren commented on #16
Nice suggestion!

[2016-07-21 15:30] mrmlnc commented on #17
Thanks for the answers. I ask this because i use a local installation of the XO in the projects. In some projects, the XO is used as a plugin to Gulp and in previous version of this extension i don't need to have the pure package in the dependencies.

In the new version you added checks for [XO in the project dependencies](https://github.com/SamVerschueren/vscode-linter-xo/blob/master/xo-server/sr

[2016-07-23 10:23] SamVerschueren commented on #17
I'll do it, no problem :).

[2016-07-23 10:23] #17 closed

[2016-08-17 01:56] jasononeil opened #18 "Does not activate if package.json is in a subdirectory"
Hey thanks for the plugin!

I have a project repo which is structured:

[code]

If I open `./angular/` as the VSC workspace then the linter works correctly.  But if I open the main repo, the linter doesn't seem to activate at all, with no error message given.  Is there any way I can look into what's going on?

If a patch would be needed to support this I'm happy to give it a go!

[2016-08-17 05:54] SamVerschueren commented on #18
Thanks for reporting this. You are right that it's not working at the moment. It was reported in the VSCode ESLint repository as well https://github.com/Microsoft/vscode-eslint/issues/32. These projects are quite similar. I would be happy to receive a good PR but I'm not sure if it's that easy to do.

[2016-09-13 15:42] wmertens commented on #18
as a workaround, you can symlink your node_modules and package.json in the project root, that makes it work for now but of course clutters your git status.

[2016-09-13 16:22] wmertens commented on #18
@SamVerschueren You can use the `pkg-dir` package to find the directory containing the nearest `package.json`, but it seems that your extension assumes a single xo that applies to the whole repo.

I think the extension will need to look up the xo from the correct pkgdir on every call, maybe keeping a cache if that gets slow.

[2016-09-22 09:27] wmertens opened #19 "Does not take overrides into account"
I have a subdir of a project with different rules, defined under xo.overrides, and when I run XO from the command line it works fine, but in VSCode it uses the main configuration, even when running the fix.

[2016-09-22 09:31] SamVerschueren commented on #19
Could you show me the directory structure? Where are those overrides defined? In a `package.json` file?

[2016-09-22 09:56] wmertens commented on #19
It's defined exactly as described at https://github.com/sindresorhus/xo#config-overrides

Not sure what to show you :) a subdir of the project has different rules…

[2016-09-22 10:05] SamVerschueren commented on #19
So it's just one `package.json` in the root of your project which defines some `xo.overrides` for files in a subdirectory?

[2016-09-22 10:21] wmertens commented on #19
correct.

[2016-09-27 08:42] SamVerschueren commented on #19
Could you check again. Seems it didn't work in `gulp-xo` as well and had to be fixed in `XO` itself. https://github.com/sindresorhus/gulp-xo/issues/10#issuecomment-249800305

[2016-09-30 06:25] wmertens commented on #19
:tadaa: :+1:

[2016-09-30 06:25] #19 closed

[2016-09-30 06:30] SamVerschueren commented on #19
Sweet! :)

[2016-10-20 14:03] SamVerschueren opened #20 "Fix `Path must be a string. Received null` error"
I believe this error is caused by this plugin. It happens when you open files in the Git view of the editor.

<img width="1011" alt="screen shot 2016-10-20 at 16 02 40" src="https://cloud.githubusercontent.com/assets/1913805/19562963/a8b4ad06-96de-11e6-824c-a94f7f308663.png">

[2016-11-02 16:23] kristianmandrup opened #21 "command xo.fix not found on Mac OSX"
I installed `linter-xo` via `ext install`, then enabled it and restarted VSC.
However, I get: `command xo.fix not found` Any idea why?

[2016-11-02 17:07] SamVerschueren commented on #21
You mean the keyboard binding `xo.fix`? If not, in the command palette it's XO > fix

[2016-11-02 17:11] kristianmandrup commented on #21
How do I set up a keyboard binding to `xo.fix` then?

[2016-11-02 19:29] SamVerschueren commented on #21
`Code > Preferences > Keyboard Shortcuts` and add something like this to your `keyboards.json`.

[code]

[2016-11-02 19:29] #21 closed

[2016-11-10 13:24] wmertens opened #22 "Very slow"
I don't know if this is the linter, xo or some plugin, but XO results are extremely slow. It is as if every keystroke results in a lint, instead of only linting if the previous run completed and the text is dirty again.

On "larger" files (400 lines) this becomes very noticeable, taking tens of seconds/minutes.

Anything I can do to troubleshoot?

[2016-11-14 13:30] SamVerschueren commented on #22
Thanks for reporting @wmertens. Personally, I never had issues with this. You can easily check if it's this plugin since the new release (1.7) as you can easily disable the other extensions. Mind doing that and check this again?

[2016-11-15 13:23] Jamerrone opened #23 "Plug-in not working?"
Hey guys,
I have been trying to get this plug-in working for quite some time, and no success yet. I am quite new at this so it is probably my own fault. Also xo linter works just fine using the cmd, and yes I have the plug-in installed and it is enabled in the user settings. My map structure looks like this:

node_modules
-- .bin
-- xo
main.js
package.json

My package.json looks like:

[code]

And

[2016-11-15 13:35] SamVerschueren commented on #23
This is very odd. It's like the most minimal example, it should definitely work. I have actually no clue for now why it's failing. After initialising the project, have you restarted VS Code and reloaded the project?

[2016-11-15 14:08] Jamerrone commented on #23
Yes, multiple times, I even restarted my pc. I could try to reinstall vsCode itself, but that will have to wait a bit.

[2016-11-15 14:14] SamVerschueren commented on #23
Have you tried disabling the other extensions to make sure it doesn't interfer? Since the latest version you can do that quite easily.

[2016-11-15 15:52] Jamerrone commented on #23
Ok, so I got it working now, but I have no idea what was going on, I reinstalled vsCode and installed every extension again, it din't work. I disabled all my extensions other than XO, and it worked! After that I enabled every single extension again but it still worked. Strange but I am happy with it.

[2016-11-15 16:18] SamVerschueren commented on #23
Let's close the issue. If you experience it again, let me know.

[2016-11-15 16:18] #23 closed

[2016-11-16 07:14] wmertens commented on #22
I have no ieda what was happening but it stopped happening. I'll close this and investigate more if it happens again.

[2016-11-16 07:21] SamVerschueren commented on #22
Thanks for following up!

[2016-11-23 10:48] mariosant commented on #20
I confirm that, happens to me as well.

[2016-12-07 22:11] jshamley commented on #20
I also get this error, but for me it happens in all views of the editor.

[2016-12-23 07:17] #20 closed

[2016-12-23 07:33] SamVerschueren commented on #20
Fixed in `2.1.1`.

@jshamley It shouldn't happen in every view, only in the Git view. So if this release didn't fix it for you, make sure it's because of this extension by disabling all the others. If it still keeps showing, feel free to open a new issue. But I'm not sure if I will be able to solve it as it never happened to me in the `Explorer` view.

[2016-12-24 11:15] mrmlnc opened #24 "Request initialize failed with message: ENOENT: no such file or directory, open 'package.json'"
Hello, @SamVerschueren,

After the last update I started getting error if workspace have no `package.json` file:

[code]

![code_2016-12-24_14-03-34](https://cloud.githubusercontent.com/assets/7034281/21466644/6c2ff8f4-c9e2-11e6-9be3-d62055f24ede.png)

It seems to me that it's related to https://github.com/SamVerschueren/vscode-linter-xo/blob/master/xo-server/src/package.ts#L11

## Steps to reprod

[2016-12-24 12:28] SamVerschueren commented on #24
Thanks for the report. This is correct, I changed to use load-json-file but didn't implement error handling correctly. Don't have much time now to fix it so a PR is welcome. Or wait until I find some time :).

[2016-12-24 14:00] mrmlnc commented on #24
IMO, in this case we shouldn't show any errors — just silently return false for this workspace. I'll send PR soon :)

[2016-12-26 19:55] #24 closed

[2016-12-26 19:57] SamVerschueren commented on #24
Should be fixed in `2.1.2`. Thanks for reporting!

[2017-01-23 11:01] hugomrdias opened #25 "Feature request : format on save"
the eslint extension has this would be helpful if we could have it for xo too

thanks

[2017-01-23 11:03] SamVerschueren commented on #25
I agree. Would be nice to have. Not much time to work on this now though, so all help is welcome.

[2017-01-23 14:24] hugomrdias commented on #25
i dont have much experience but as this is a feature you would consider merging ill spend some time on it.

thanks

[2017-02-11 17:26] camilleriluke opened #26 "Incorrect current working dir"
I have encountered the following situation when using this plugin. I am not sure if this is the intended behaviour however, in case it is not, I am also suggesting a fix for this.

## Current problem

Seems like that the plugin is using the file's (being tested) dir path as the current working directory ([source](https://github.com/SamVerschueren/vscode-linter-xo/blob/master/xo-server/src/server.t

[2017-02-14 18:13] #26 closed

[2017-02-14 18:30] SamVerschueren commented on #26
Released as `2.1.3`. Seems to work perfectly now! :beers:

[2017-03-22 23:54] oscar-b commented on #18
Any update on this issue? The linked https://github.com/Microsoft/vscode-eslint/issues/32 issue is solved already.

I'm also seeing this error from the plugin:

    [Error - 00:47:00] Request textDocument/codeAction failed.
      Message: Unhandled method textDocument/codeAction
      Code: -32601

[2017-03-28 03:42] thiagodebastos commented on #18
Same issue here:
[code]

[2017-03-28 05:37] SamVerschueren opened #28 "Request textdocument/codeAction failed"
Not sure when it happens so have to dig into it.

[2017-03-28 05:38] SamVerschueren commented on #18
Tracking that issue here https://github.com/SamVerschueren/vscode-linter-xo/issues/28 now as it is unrelated to this one.

I'm all open for help on this issue as I don't really have much time to look into it.

[2017-04-14 07:52] unixzii commented on #28
I've just migrated one of my old project's coding style to **xo**, and it may produce 1000+ errors or warnings. Before I fix these issues, the plugin will keep logging that.

[2017-04-26 17:40] JonnyBurger opened #29 "Upgrade to use ValidationQueue"
This repo should upgrade to `vscode-languageserver@3`, which has a new feature: `ValidationQueue`.

## Why?
Currently, whenever a file changes, the xo lint gets triggered. When a file changes multiple times quickly, it is not necessary anymore to lint files that are outdated, but this is the current behaviour. This makes the extension slower and leads to errors briefly showing up that don't exist

[2017-04-27 18:53] SamVerschueren commented on #29
Cool! Help appreciated though!

[2017-04-28 19:25] noeladd commented on #28
I keep getting this error as well. Is there any workaround known for this? The linter won't work on this project at all.

[2017-05-18 14:50] noeladd commented on #28
I got a stack trace with this error today. Still not sure exactly what is going on.  I've tried uninstalling and reinstalling the extension and uninstalling and reinstalling the global xo npm.

Here's the error message I got today:
`TypeError: Path must be a string. Received undefined
    at assertPath (path.js:7:11)
    at Object.join (path.js:1211:7)
    at Package.isDependency (/Users/raddleman

[2017-05-24 11:35] wmertens commented on #22
It's happening again :) I think it started when I upgraded XO in the project, and indeed, in another project XO is fast.

Any ideas for how to troubleshoot?

[2017-05-30 15:07] wmertens commented on #29
I believe this may also alleviate #22

[2017-05-30 15:10] SamVerschueren commented on #29
Yes I believe it is. Don't really have much time to look into this. So any help is more than welcome. Might find some time in the coming weeks.

[2017-05-30 15:42] JonnyBurger commented on #29
FYI, I have tried to tackle this recently, here is my progress: https://github.com/SamVerschueren/vscode-linter-xo/compare/master...JonnyBurger:v3-upgrade

However, I did not manage to close it out. It's just so hard to debug, I can't get `console.log` to work. (Does anyone have any suggestions for that?)

My attempt involved the following:

- Upgrade to `vscode-languageserver@3` and `vs-languagec

[2017-05-31 07:02] SamVerschueren commented on #29
Yes it's pretty hard to debug. You should be able to attach a debugger but honestly, I never got it working. At some point, I just wrote output to a text file in order to debug it. I know, not best practice but I had to do something right :).

[2017-06-19 21:00] kevinfiol opened #30 "How do you install this extension to VSCode?"
Nowhere in the README do you actually instruct how to install this into VSCode. You only say you must have XO installed already, which I do.

[2017-06-20 04:31] SamVerschueren commented on #30
Like any other extension in VS Code. There's not much to it to be honest...

[2017-06-20 13:10] kevinfiol commented on #30
Gee, thanks for the help.

[2017-06-20 14:04] SamVerschueren commented on #30
Would a section like this help? https://github.com/SamVerschueren/vscode-final-newline#install

[2017-06-22 14:08] kevinfiol commented on #30
Yes, thank you!!!!!

[2017-06-22 16:26] pixelass commented on #23
I can't get xo to work either.

minimal setup.

VS code  1.13.1 (1.13.1)

I added linter-xo and stylelint. stylelint works but xo doesn't

Everything else is vanilla.

[code]

[2017-06-22 16:35] pixelass opened #32 "Can't get it to work"
VS CODE: Version 1.13.1 (1.13.1)
OS X 10.12.5 (16F73)

I activated the plugin as suggested.

[code]

[code]

I see nothing happening at all.

[2017-06-22 16:58] pixelass commented on #32
Seems to be related to https://github.com/avajs/ava/issues/1418 which mentions an issue with Ava and XO in large projects.

I was able to get it to work by adding a second package.json in a deeper folder (we only lint this one).

This is very ugly and prevents a regular workflow.
It seems that there is a major issue in XO and Ava or one of their shared dependencies.

I tested it in a smaller scope

[2017-06-22 16:58] #32 closed

[2017-06-22 17:10] pixelass commented on #32
related to https://github.com/sindresorhus/xo/issues/234

[2017-06-22 20:00] SamVerschueren commented on #23
Have you installed the XO dependency in your project?

[2017-06-22 20:06] pixelass commented on #23
related to https://github.com/sindresorhus/xo/issues/234

[2017-06-22 20:10] pixelass commented on #23
Everything is set up correctly. In my case it is probably related to the size of the project.
Due to an issue with XO I added a testing and linting suite (separate pacjakge.json) in a deeply nested folder (this is where we lint and test)  This was working on VSCode.

We now use eslint with the xo-shared-config and everything works fine in various editors our developers use.

I'm pretty sure this i

[2017-06-22 20:17] pixelass commented on #23
Also stated here #32

[2017-06-24 12:01] #30 closed

[2017-06-24 12:02] SamVerschueren commented on #30
Fixed. Thanks for the suggestion. Sorry for the my first reply, wasn't meant to be rude...

[2017-08-03 22:39] akshendra opened #33 "Fails when file contains eslint-disable* comments"
Linter fails with the following message if the file contains eslint-disable* style comments.

[code]

I have encountered this for `eslint-disable` and `eslint-disable-line`.

[2017-09-09 13:00] JonnyBurger commented on #29
Hello, I just wanted to let you know that I am not going to further work on this. I wanted to do this for a long time, but now I think it's just easier to move to plain eslint with the xo config instead.

Thanks for the help though and hopefully my comments also will make it easier to improve performance!

[2017-09-28 19:36] TENsaga commented on #28
Same issue here.

[2017-09-29 13:30] #25 closed

[2017-10-13 13:29] plumpNation opened #34 "Cannot find how to run this plugin on html or json files."
Is there a setting for this I am missing somewhere?

[code]

[2017-10-13 20:48] SamVerschueren commented on #34
The extension is only activated for [js and jsx](https://github.com/SamVerschueren/vscode-linter-xo/blob/master/xo/package.json#L27-L28).

[2017-10-15 13:58] plumpNation commented on #34
Is support on the roadmap for json and "js in html" aka script tags?

[2017-11-26 14:59] nampdn commented on #28
I meet this too. It's clean install but can't get it works.

[2017-11-27 10:39] gibbok commented on #28
same problem here

[2017-11-29 15:36] achal7 opened #36 "not working in vs code 1.18.1"
Getting below error in output window.
[Error - 21:01:52] Request textDocument/codeAction failed.
  Message: Unhandled method textDocument/codeAction
  Code: -32601

In current folder i have only 1 js file. The same project works if I run xo from command line, it works as expected, shows errors, warnings, fix them.

However as a VS Code tool its not working.

[2017-12-11 23:11] lagden commented on #34
@SamVerschueren

Can you put `html` and `vue`?

To [SublimeLinter-contrib-xo](https://github.com/sindresorhus/SublimeLinter-contrib-xo/pulls) I send a PR...

if wish I can do the same for you...

[2018-01-11 13:27] maxbaluev commented on #28
I have same problem

[2018-02-14 02:27] mdvorscak opened #37 "Add option to autofix on save"
I would like to have the option to autofix on save, from what I've seen it doesn't look like this is currently possible (in this case, an enhancement request). Otherwise, if it is possible could you update the documentation to show how to configure this?

Thanks!

[2018-02-17 12:09] plumpNation commented on #34
OK, I'm going to close this then. Thanks for the plugin.

[2018-02-17 12:10] #34 closed

[2018-02-17 12:42] SamVerschueren commented on #34
Sorry guys. Feel free to send a PR. Have lots of other stuff on my mind.

[2018-05-04 14:58] lsunsi commented on #22
Just to add to the issue, I have a somewhat big project and I'm having performance issues as well. Really sluggish. Any ideas?

[2018-05-04 15:07] luizParreira commented on #22
Same here, having performance issues on large files. Any ideas on how to improve performance? 😄

[2018-05-04 17:00] luisfmsouza commented on #22
The same here. I've recorded a gif about it:

![delayed-xo](https://user-images.githubusercontent.com/4405147/39641104-6f16d9be-4fa3-11e8-85c8-17e868b6223c.gif)

[2018-05-05 10:39] xlc commented on #28
I have fixed it here https://github.com/xlc/vscode-linter-xo/commit/d60531a3a49e428eb16d5035a6c5031760c2f118
Let me know if you want me to PR it.

[2018-05-05 10:41] xlc commented on #22
I have fixed the performance issue with #35 but seems like this repo is no longer maintained.
So I published it myself https://marketplace.visualstudio.com/items?itemName=bryan-chen.linter-xo-2

[2018-05-05 13:45] SamVerschueren commented on #28
Feel free to send the PR!

[2018-05-05 13:46] SamVerschueren commented on #22
It still is maintained, just had other things on my mind.

[2018-05-05 13:48] SamVerschueren commented on #22
@xlc if you want I can add you as a maintainer of this project. Let me know if you would be interested.

[2018-05-06 05:38] #28 closed

[2018-05-10 17:16] j0hnm4r5 commented on #37
This article explains the process for integrating it into the extension: https://code.visualstudio.com/blogs/2016/11/15/formatters-best-practices

[2018-05-11 09:29] xlc commented on #36
textDocument/codeAction is fixed by #38

[2018-05-11 09:29] #36 closed

[2018-05-11 10:33] xlc commented on #37
I'll give it a crack this weekend

[2018-05-11 13:49] #22 closed

[2018-05-11 13:50] SamVerschueren commented on #29
Fixed by #35

[2018-05-11 13:50] #29 closed

[2018-05-12 09:19] xlc opened #42 "'Fix all auto-fixable problems' doesn't fix as many issues as possible"
Same issue as https://github.com/Microsoft/vscode-eslint/issues/154

If there are multiple fixes, xo.fix command doesn't always fixes all of them. Sometimes it is required to run it multiple times to fix all the issues.

Potential solution:
Add a new xo.fixAll command that run the xo.fix command multiple times until no more fix was applied.

Reference:
https://github.com/Microsoft/vscode-eslint/is

[2018-05-20 16:42] jorgegonzalez opened #43 "Extensions/Parser not recognized in options"
I'm trying to implement [support](https://github.com/xojs/xo/pull/326) for Flow and TypeScript, and I'm having trouble getting this extension to work on TypeScript files.

Enabling `.ts/.tsx` extensions or a different parser in the config does not affect the VSCode extension:

[code]

This works when I run it from the command line, but it doesn't do anything in VSCode. Is there something else I sh

[2018-05-20 21:02] xlc commented on #43
Enabling Typescript is recently added but not published yet.
You can try my fork if you want to get it now
https://marketplace.visualstudio.com/items?itemName=bryan-chen.linter-xo-2

[2018-05-20 21:05] jorgegonzalez commented on #43
Gotcha, any idea when it will be published?

[2018-05-22 08:42] SamVerschueren commented on #43
I'll try to do it asap, sorry for the delay. Lots of different things going on at my side.

@xlc any idea if I can add you to be able to release this extension as well? Would be happy to do it if you know how.

[2018-05-23 03:25] xlc commented on #43
@SamVerschueren This is the guide of how to grant me permission to publish extension
https://github.com/Microsoft/vscode/issues/21478#issuecomment-284889034
My publisher name is `bryan-chen`

[2018-06-01 03:17] simonhaenisch opened #44 "Doesn't work properly"
When I have this plugin enabled, after a while (can't pinpoint it to an action) there is a `CodeHelper` process stuck at 100% CPU usage. Hasn't happened anymore since I disabled it.

I think it's related to Intellisense because when it happens, usually the hints stop updating (e. g. if I update a JSDoc comment). Any idea what it could be? Only other related plugin I have installed is `tslint` but

[2018-06-01 04:40] simonhaenisch commented on #44
I've been using your version and no problems so far!

[2018-06-01 04:40] #44 closed

[2018-06-03 04:33] SamVerschueren commented on #43
Ah, missed this one. I'll try it out. In the meantime, this extension is released as 2.2.0 so I guess I can close this one?

[2018-06-03 11:46] SamVerschueren commented on #43
@xlc It looks like I can only give you access to all my extensions, not just a single one.

[2018-06-04 00:12] xlc commented on #43
@SamVerschueren  OK. I guess you just need to take the responsibility to make new releases.

[2018-06-06 00:03] simonhaenisch commented on #20
I am `2.2.0` now and get almost the same error when opening a git diff, but with `undefined` instead of `null`:

[2018-06-12 15:27] #43 closed

[2018-06-12 18:21] SamVerschueren commented on #33
I cannot reproduce this issue. Can you provide an example js file where you get this error?

[2018-06-12 18:35] SamVerschueren commented on #42
I also noticed this with the TSLint extension, but to be honest I never had this with the XO one. Do you know when it starts failing? After X number of fixes? I read the `vscode-eslint` topic but not the ones linked in there.

[2018-06-12 22:27] nopelluhh opened #47 "Relative paths in extends config seem to be broken in 2.2.1"
It looks like this [this commit/line](https://github.com/SamVerschueren/vscode-linter-xo/commit/4c7c6a140658394e58d6d9c5aec694b1939d9589#diff-bc3c0f2fe3aca9ddbe96347ffb00641eR20) is causing a relative path to a config to break.

Example package.json config which worked on previous versions:
[code]

Is this an intentional change/any suggestions for how to get around this?

[2018-06-12 22:38] jorgegonzalez opened #48 "Error "No parser could be inferred for file: <text>""
![image](https://user-images.githubusercontent.com/12901172/41320927-b430be08-6e6f-11e8-868e-592c54bdab75.png)

This error only appears on files that are named `cli.js`.

If I rename the file to something else it goes away. But it will pop up again when changed back to `cli.js`.

Very strange.

[2018-06-13 00:08] jorgegonzalez commented on #48
Now it's happening in a bunch of random files. Trying to find a similarity.

[2018-06-13 03:37] SamVerschueren commented on #48
You are 100% sure it's this extension? Have you disabled all other extensions? I've cut a new release yesterday so it might be a bug on our side, just wanted to be sure.

[2018-06-13 03:42] SamVerschueren commented on #47
Mmm, weird. I was refactoring some bits and fought I needed it for [this change](https://github.com/SamVerschueren/vscode-linter-xo/commit/4c7c6a140658394e58d6d9c5aec694b1939d9589#diff-bc3c0f2fe3aca9ddbe96347ffb00641eR19). I was looking into the ESLint extension as they do it the exact same way. Can you give a quick small example of such a resolver file so I can test more easily?

[2018-06-13 04:12] jorgegonzalez commented on #48
Yes

![image](https://user-images.githubusercontent.com/12901172/41329918-725db9d4-6e9e-11e8-9584-9982b8f509eb.png)

That's with every other extension disabled

[2018-06-13 04:22] jorgegonzalez commented on #48
Maybe because this project is a monorepo?

[2018-06-13 05:52] nopelluhh commented on #47
Here you go! Again, not sure if there's an alternate way around this, but it was working previously. There's a bit of a cascade of plugins from xo -> eslint -> eslint-import-resolver-webpack, but I think the scenario of an local config is more universal. In this case it's in use for webpack aliases on a large project.

[code]

[2018-06-13 09:12] xlc commented on #42
I never fully worked. It only apply one iteration of the fix which doesn't always fixes all the issues.
One example code is `var a = 1` with rule prefer const and require semi, it takes multiple iterations to make it `const a = 1;`

[2018-06-13 09:19] xlc commented on #47
https://github.com/xlc/vscode-linter-xo/blob/5e7392ecbe63925e62411529dc578688ab2bc9f7/server/src/linter-server.ts#L253
This could fix it. I have no idea why it is needed and by eslint extension doesn't require it. But some code is caching the cwd on resolve time instead of check time

[2018-06-13 09:21] SamVerschueren commented on #47
I will try to reproduce it and see if that fix works. Help welcome for this :).

[2018-06-13 09:22] SamVerschueren commented on #48
Do you have a `package.json` file in the root of your project?

[2018-06-13 09:30] jorgegonzalez commented on #48
Yes and that’s where my xo config is.

[2018-06-13 09:34] xlc commented on #48
This error text seems come from prettier
https://github.com/prettier/prettier/blob/1350edc5a65bded15b9dfc27d5e2a0706d9d1fe1/src/main/options.js#L46
What is your xo config?

[2018-06-13 11:37] jorgegonzalez commented on #48
Yep turning off Prettier makes this error go away.

[code]

[2018-06-16 21:35] akshendra commented on #33
Seems to not happening anymore

[2018-06-16 21:35] #33 closed

[2018-06-17 05:04] SamVerschueren commented on #33
Thanks for letting us know :)!

[2018-07-03 17:53] jorgegonzalez commented on #48
Any progress?

[2018-07-05 18:54] SamVerschueren commented on #48
Just leave it open, it might be a valid issue, didn't have time to look into yet.

[2018-07-06 00:01] simonhaenisch opened #49 "Path must be a string. Received undefined"
![image](https://user-images.githubusercontent.com/3410759/42353384-21ef1af0-8114-11e8-84cb-11626f7ff10b.png)

I get this notification every time I open a js file in the diff view (VS Code version 1.24 and 1.25).

[2018-07-06 05:59] #49 closed

[2018-08-08 07:17] idmyn opened #51 "Distinct(?) 'TypeError: Path must be a string. Received null'"
I've just installed VS Code (macOS) and this extension but received an error upon editing a JavaScript file. I'm not sure if it's distinct from issue #49 - forgive me if I'm missing something. I've tried uninstalling all other extensions to no avail. Any ideas how I could fix this?

Error message pasted below. The TypeError is repeated five times and followed by a notification that the server will

[2018-08-23 22:28] simonhaenisch opened #52 "Debounce"
I wonder whether it would be easy to implement a "debounce"/delay option, to only lint the current view if no input has been made for `n` seconds?

Sometimes all the red distracts me while typing especially if a statement is underlined just because of a whitespace issue. And with live-reload I don't want to save my file every few seconds just to format it.

I'm willing to work on it if you think i

[2018-08-26 06:15] xlc commented on #52
I think it is a useful feature. We already have buffer queue to avoid lint on every single keystroke. It should be easy to make it have configurable debounce time.

https://github.com/SamVerschueren/vscode-linter-xo/blob/68cddd7a2bd0971e5634fff711828849902f9d73/server/src/bufferedMessageQueue.ts#L101

[2018-08-27 00:11] simonhaenisch commented on #52
Ok I'll try to implement that, basically replacing the `setImmediate` with a `setTimeout` and using `params.settings.debounce` as the timeout value... could you please elaborate on how to best access the settings within `bufferedMessageQueue.ts`? Thanks!

[2018-08-27 01:01] xlc commented on #52
You can add a setter and call it here
https://github.com/SamVerschueren/vscode-linter-xo/blob/68cddd7a2bd0971e5634fff711828849902f9d73/server/src/server.ts#L75

[2018-09-05 03:42] simonhaenisch opened #53 "How do I disable linter-xo for typescript?"
## Setup:

I have a Javascript project that I lint with XO and within that project I have a `firebase/functions` directory for Firebase cloud functions, written in Typescript.

[code]

`firebase/functions/tslint.json` is basically `{ "extends": "tslint-xo" }`.

## Problem:

I don't want the `linter-xo` extension to lint my typescript file, because it doesn't lint it properly, e. g. for `const y =

[2018-09-05 04:47] xlc commented on #53
try `"xo.options": { ignores: ["**/*.ts", "**/*.tsc"] }`

https://github.com/xojs/xo#ignores

[2018-09-05 05:10] simonhaenisch commented on #53
Thanks, ignoring works.

Just in case someone else has a similar setup, I also had to set

[code]

in `firebase/functions/tsconfig.json`, otherwise the build complained about missing dom lib types for the types in the root project (`../../node_modules/@types`).

[2018-09-05 05:10] #53 closed

[2018-09-11 23:53] 07Gond opened #54 "[XO] Test file is ignored because it is not in Test file is ignored because it is not in `test.js test-*.js test/**/*.js **/__tests__/**/*.js **/*.test.js`"
**BUG:**

![image](https://user-images.githubusercontent.com/2708687/45393672-a503c180-b5f2-11e8-9136-a5e9e8009c99.png)

**NOTES:**

- When I run `npx xo` in the CLI or my test script I don't have any issue.
- My only test file name: **_index.test.js_** inside **_tests_** directory

_package.json:_
[code]

**Additional Info:**
**OS**: Mac OS 10.13.6

[2018-09-28 03:28] 07Gond commented on #54
Hi @SamVerschueren any idea on this issue?
It is a little annoying see this on the code 😞

[2018-10-22 22:26] hipstersmoothie opened #55 "Can't get it to work anymore"
It doesn't seem like it is starting up and won't load for me at all

has no tab in output panel

edit: This seems to be an issues with workspaces

[2018-10-23 06:18] SamVerschueren commented on #55
@xlc Are you able to take a look? If not, I'll try to find out what's going on. It broke since the latest PR I merged.

[2018-10-23 09:11] #55 closed

[2018-10-23 11:19] tusbar commented on #55
If this is fixed, it’d be lovely to get a new release, as the linter is not working at the moment. ❤️

[2018-10-23 11:33] SamVerschueren commented on #55
Published a new release `2.3.1`, can you try again?

Thanks for fixing @xlc 🎉 ! Much appreciated.

[2018-10-23 12:18] tusbar commented on #55
Just installed 2.3.1, and it doesn’t seem to fix it, no linting at all.

I tried restarting, tailing everything in `~/Library/Application\ Support/Code/logs`, couldn’t see anything related to `xo`.

When running the "Fix all auto-fixable problems" I’m getting the following error:

[code]

[2018-10-23 14:06] kevva commented on #55
@SamVerschueren, I can reproduce this issue. Seems like the dependency issue isn't fixed. I'm getting the following:

[code]

[2018-10-23 15:09] tusbar commented on #55
The issue is in `.vscodeignore`:

[code]

[2018-10-23 15:29] tusbar commented on #55
@kevva you can manually add semver in `~/.vscode/extensions/samverschueren.linter-xo-2.3.1/client/node_modules` to temporarily fix the issue. :)

[2018-10-24 06:14] SamVerschueren commented on #55
Released a new version `2.3.2` which should work. Thanks @tusbar for the fix!

[2018-10-24 09:19] hipstersmoothie opened #58 "Workspaces Broken"
It works in a normal project! Unfortunately it still seems to not be working in a workspace. I'm not sure if this falls on this plugin or VSCode.

<img width="1625" alt="screen shot 2018-10-24 at 2 16 51 am" src="https://user-images.githubusercontent.com/1192452/47420372-1d51bc80-d733-11e8-93e2-7a8d99481273.png">

(I verified this works when only the project is open)

[2018-10-25 07:41] SamVerschueren commented on #58
Did it ever work in a workspace? Never tested it.

[2018-10-27 12:03] ashinzekene opened #59 "Adding options"
I think it'll be cool if there's  better documentation on how to  add xo options like `xo --env=node --env=mocha` to the `settings.json` file

[2018-11-05 23:17] simonhaenisch commented on #48
I experience the same issue when enabling prettier in my xo config (in `package.json`):

[code]

But it only happens to the files that I have in a folder called `scripts`. If I rename `scripts` to something else, the problem disappears :roll_eyes:

[2018-11-20 19:58] alistair-hmh commented on #58
Ideally it should pick up the config from the closest package.json file. It appears to only pick the config of the package.json from the folder that you open in the editor.

[2018-12-27 00:42] jorgegonzalez commented on #48
Any update on this? This error has never really gone away.

[2019-01-04 21:01] niktekusho opened #60 "Parsing error: The keyword 'interface' is reserved on d.ts file"
First, some env info (taken from VS Code):

[code]

XO-specific info:
[code]

Now to the problem.

I noticed that with xojs/xo#348 `xo` did indeed have problems with typescript files.
So from what I gathered in that issue the linting for ts files has been disabled.
And indeed running `$ npx xo` on the project yields no errors (the `*.d.ts` file **seems** (to me) ignored from linting).
But this ext

[2019-01-27 13:55] alistair-hmh commented on #58
Ok @SamVerschueren - how do we get this tool to pick things up from the closest package.json? I love using XO, but I'm close to needing to drop it because all our code is moving to monorepos.

Happy to make a PR, but where do I start?

[2019-01-27 17:56] fnky opened #61 "Parsing error: File '/tsconfig.json' not found."
When using vscode-linter-xo, the linter shows the following message:

[code]

This is represented as a popup in the editor at the first occurence like so:

![A screenshot of VSCode showing the error message "[XO] Parsing error: File '/tsconfig.json' not found."](https://user-images.githubusercontent.com/995050/51804685-5e8ec680-2264-11e9-958a-fce219e48825.png)

I am using the following configurati

[2019-03-05 17:43] SavageCore commented on #47
Same issue here I believe:

[code]

[2019-03-05 17:55] SavageCore commented on #47
Same issue here when using xo.settings in package.json so not just extends? Or is this a separate issue I'm facing?

`xo` command returns no errors but vscode will report `import/no-unresolved` for a path such as `const {ModelsLoader} = require('src/infra/sequelize');`

`package.json:`
[code]

`directory tree:`
[code]

[2019-03-24 12:12] mamachanko opened #66 "`Format Selection` not using xo"
Big thanks for the plugin!

I have configured it like so:
[code]

When I `Format Document` the whole document gets formatted complying with my `xo` config. However, when I `Format Selection` then it gets formatted according according VS Code defaults.

[2019-03-25 16:31] rizowski opened #67 "Feature Request: Conditionally enable/disable setting"
It would be nice to have a setting that I can enable to have the extension automatically decide if it should run XO depending on if the XO configuration property is provided in the pkg.json. This can be disabled by default just for those that like to specify their configuration in vscode settings.

Reason I am asking for this is that I work in various projects that I end up needing to turn off XO

[2019-04-06 11:10] markypython commented on #61
What's the status of this?

[2019-04-06 11:23] CvX commented on #61
@markypython #65 fixes this, but @SamVerschueren has to review that PR. 🙂

[2019-04-12 23:10] golopot opened #68 "Document format on save"
Format on save is implemented in https://github.com/SamVerschueren/vscode-linter-xo/pull/46, but cannot be found in readme.

[2019-04-27 05:28] OmgImAlexis commented on #54
Still having this issue.

[2019-04-27 05:28] OmgImAlexis commented on #54
I'm also having this issue.

[2019-07-06 17:32] #61 closed

[2019-07-18 15:54] rizowski opened #69 "Finding the wrong tsconfig.json file"
If I have multiple instances of VS-Code open I will get the error:

[code]

No matter how many vs-code instances I open, it is always looking in the first project's directory for the tsconfig file. I have to close all instances of vs-code and reopen that one project in order for it to find the correct file. Any other instances opened after that will have the issue again.

This seems related to #61

[2019-08-13 19:44] jedmao commented on #69
I only have one instance of vscode open and I'm receiving a similar error:

I have a `tsconfig.json` at project at root and others scattered throughout the project.

[2019-09-01 02:18] herreraemanuel commented on #69
Look like the fix is not in the marketplace.

Left: Repo version
Right: Extension from the marketplace

![shot_190831_231401](https://user-images.githubusercontent.com/299113/64070964-89e7f280-cc45-11e9-8c0b-f0c238b1639b.png)

[2019-09-02 12:44] markypython commented on #69
@SamVerschueren Can you release a new version of the extension to fix this issue?

[2019-09-11 15:57] matthieu-foucault commented on #58
FYI, this issue seems to be fixed in https://github.com/xlc/vscode-linter-xo, a fork of this project. Not sure where the fix actually is since it looks like they did a pretty big rewrite

[2019-09-20 09:55] #68 closed

[2019-09-21 01:39] TheEdgyDev commented on #69
A _**very poor, yet functiona**l_ fix to this issue, in the meantime, is to configure XO within your `package.json` with a false path to your `tsconfig.json`. This false path must be relative to wherever this extension is wrongly searching for your `tsconfig.json` (_not relative to the actual `package.json` file_) where the destination is the true `tsconfig.json`.

For instance, on Ubuntu 18.04, t

[2019-11-30 14:18] jeffryang24 commented on #69
Dear @SamVerschueren, please release the new version for this extension to fix this issue. :bowing_man:

[2019-12-23 10:41] KsRyY opened #70 "Error when enabling Browser envs in XO config"
When I specify
[code]
in the XO config, the extension says `def.split is not a function or its return value is not iterable`

[2019-12-23 10:43] KsRyY commented on #70
It seems like enabling any `env` will cause this error

[2019-12-23 11:00] #70 closed

[2019-12-29 11:45] huw opened #71 "Fails to load when XO is installed using yarn PnP"
[Yarn Plug'n'play](https://yarnpkg.com/lang/en/docs/pnp/) is a new feature developed by the yarn maintainers that changes how modules are resolved—XO is no longer found in `node_modules` and must be resolved using a custom resolver.

## Steps to reproduce

1. [Enable yarn plug'n'play](https://yarnpkg.com/en/docs/pnp/getting-started)
2. Install `xo` locally
3. Enable the XO extension

## Error
We g

[2020-01-09 09:42] shanoaice opened #72 "Linter XO ignores disable directives"
When I tried to disable check for a line like this:
[code]
The extension ignores the disable directive and continued to report the error

[2020-01-10 21:25] PopGoesTheWza opened #73 "`linter-xo` does not report problems"
I have the latest `xo` cli installed and working from the terminal. `package.json` has `xo` settings:

[code]

But inside vscode, does not report anything to the 'problems' viewport, and invoking 'Fix all auto-fixable problems' from  the command palette does not fix anything.

[2020-01-11 16:27] sindresorhus commented on #72
You have to specify which rule(s) to disable.

[2020-01-25 02:56] papb commented on #73
I had the same problem, I just found out that you *must* set the `"xo.enable"` in your VSCode settings:

[code]

...regardless of what's in your package.json.

[2020-01-25 02:58] papb opened #75 ""No quick fixes available""
![image](https://user-images.githubusercontent.com/20914054/73115493-44360a00-3f05-11ea-84aa-c0f0be8c2734.png)

Is this `no quick fixes available` expected? I tried setting `"xo.format.enable": true` in my VSCode config but it didn't have an effect on this (I don't know if it should?)

Thanks

[2020-01-29 21:29] PopGoesTheWza commented on #73
@papb I had it set globally in vscode... with no luck... yet.

[2020-01-29 22:34] papb commented on #73
@PopGoesTheWza Really? Weird... Good luck... Perhaps try reinstalling extensions, or even reinstalling VSCode itself, I don't know...

[2020-02-02 08:30] KsRyY commented on #71
Is there any update on this issue?

[2020-02-05 20:24] wesleyeff commented on #67
Yeah this would be super nice!

[2020-02-07 07:58] shanoaice opened #77 "Problem on Windows with Yarn Workspaces"
I uses Yarn Workspaces together with XO, and when I perform installation from WSL, the extension Linter XO will give an error like this:

[code]

My directory structure are like this:
[code]

When I perform the installation from the Windows side, nothing happens. I suppose this relates to how Linux links directory.

[2020-02-07 08:01] KsRyY commented on #71
I haved a look on the Yarn v2 docs, and I thought that we should use the [Editor SDK](https://yarnpkg.com/advanced/editor-sdks), but XO is currently not on the supported tools list. I suppose that we should send a PR to add support of XO to the editor sdk, and then turn back to the extension side of supporting pnpify.

[2020-02-15 03:04] pvdlg opened #78 "Allow to exclude certain rules from code formatting"
While developing it's often useful to comment some code or add `.only`/`.skip` to some tests.

Rules like [capitalized-comments](https://eslint.org/docs/rules/capitalized-comments), [ava/no-only-test](https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/no-only-test.md) or [ava/no-skip-test](https://github.com/avajs/eslint-plugin-ava/blob/master/docs/rules/no-skip-test.md) create fric

[2020-02-17 08:39] sindresorhus commented on #78
Our Atom linter plugin has an option for this, which defaults to the mentioned rules: https://github.com/xojs/atom-linter-xo/blob/3645b74ba8820b99afff36419c4798ad1da12690/index.js#L55

However, honestly, I agree with you. They can be annoying and auto-fixing doesn't make much sense for them, in hindsight. Maybe we should move those rules to use the [ESLint suggestions API](https://eslint.org/docs/

[2020-02-17 18:13] pvdlg commented on #78
That sounds a great idea!

Closing this issue as the suggestion API is a better solution!

[2020-02-17 18:13] #78 closed

[2020-02-17 19:55] sindresorhus commented on #78
https://github.com/avajs/eslint-plugin-ava/issues/281

But I just realized that we don't own `capitalized-comments`, so we cannot do anything about that other than possibly disabling it... There was this https://github.com/eslint/eslint/issues/12561, but of course it was closed by the annoying issue bot. Ideas?

[2020-02-17 20:13] sindresorhus commented on #58
This will be fixed in the next XO release. See https://github.com/xojs/xo/pull/425. No changes need here.

[2020-02-17 20:15] sindresorhus commented on #71
I'm closing this as it's up to the Yarn team to resolve any incompatibilities with the existing community. Open an issue on Yarn about this or do:

[2020-02-17 20:15] #71 closed

[2020-02-17 20:43] pvdlg commented on #78
I guess we could implement our own version in `eslint-plugin-unicorn`...

[2020-02-17 20:54] sindresorhus commented on #78
We could actually just create a rule that is bundled in XO that just implements it without any options, and only does what we need: https://github.com/xojs/eslint-config-xo/blob/06e4e1416bdbf2df56984adca8039683ebad735c/index.js#L258-L267

If you agree, I can open an issue on XO.

[2020-02-17 21:17] pvdlg commented on #78
Not sure how to do that, but if you think it will work, let's do it!

[2020-03-02 13:18] PopGoesTheWza commented on #73
With no clear explanation, it finally started to report problems into the vscode Problems window.

It suddenly "kicked-in" during an hours long vscode session. I had `xo` already setup (but no reporting in vscode)

- `xo@0.27.2` installed both globally and as local dependency in my project folder
- `vscode-linter-xo` extension installed and enabled in vscode global settings
- `.xo-config.json`

My

[2020-03-11 23:32] glossnyx opened #79 "Import the globally installed version if XO is not locally installed"
I want to use XO with my [Deno] project, which almost works perfectly, except this extension requires `xo` to be listed in `package.json`. Deno doesn't use `package.json`, so I have to make a couple of new files just to get XO working.

Here is my current workaround, but as you can see, it's very messy and it would be much cleaner if this extension could use the global installation natively.

`pac

[2020-03-20 20:28] arnohovhannisyan opened #80 "Support editor.codeActionsOnSave"
With the ESLint, TSLint, and StyleLint extensions, there are code actions that fix all auto-fixable problems when saving. It would be great if this extension supported it as well.

## Example

[code]

[2020-03-24 23:49] matthieu-foucault commented on #58
Upgrading XO didn't seem to fix it. Could it be related to #79 ?

[2020-03-24 23:56] pvdlg commented on #58
What version of XO do you have installed locally?

[2020-03-24 23:59] matthieu-foucault commented on #58
`0.27.2`. There is no `package.json` at the root of my workspace though, only in one of the subfolders

[2020-03-25 00:03] pvdlg commented on #58
XO shouldn't need the `cwd` option anymore to lint text and should find the config based on the file being linted.

I guess you would need to:
- remove the `cwd` option here https://github.com/SamVerschueren/vscode-linter-xo/blob/eefa9269bbcd34f2388e5b3f73434b15c6a61a40/server/src/server.ts#L198
- Make sure the `options.filename` is the correct absolute path of the file being linted here https://g

[2020-04-14 17:37] lxghtless commented on #66
Try something like this in your `settings.json`?

[code]

[2020-05-08 10:55] slikts opened #81 "Fails with no details"
XO 0.30.0
Extension 2.3.3
VSCode 1.45.0-insider

Error:

Running the XO script from the command line works, however.

[2020-06-09 09:51] jopdeklein commented on #81
@slikts I had the same issue, it was fixed for me by enabling the plugin (I had assumed this was the default).

![Screenshot 2020-06-09 at 11 50 15](https://user-images.githubusercontent.com/200943/84133411-6e690e00-aa47-11ea-9500-3faf26fb798d.png)

[2020-06-20 11:35] luisfmsouza opened #82 "Fail to format Flow types"
Hi, I tried to found a related issue but I couldn't. Also, if the problem is not directly related to this package, feel free to ignore it, but please point me the direction to go.

I'm using the plugin as a default formatter on my VS Code. Also, my project uses flow.

Currently we are having issues when the plugin tries to format flow types, for example this code:

[code]

Will be wrongly formatte

[2020-06-20 11:50] #82 closed

[2020-06-21 22:06] noctumsempra commented on #72
Nop. It should just NOT check that line.

[2020-06-22 02:16] papb commented on #72
Are you sure the linter is not reporting an abusive disable? XO has a rule that disallows using `eslint-plugin-disable`

[2020-06-22 02:43] noctumsempra commented on #72
The few times I've put that special comment in Webstorm to bypass some circumstantial checking, this IDE took it correctly. Given eslint directives are made to be used if needed, any JS editor/IDE should support it, imho.

[2020-06-22 14:32] papb commented on #72
@noctumsempra Yeah, I know, I was just asking to be sure if the directive wasn't working, or the directive did work as it should and XO is now reporting another error (i.e. the fact that you're using `eslint-disable-line`, which by itself is an error)

[2020-06-28 22:31] ryparker commented on #58
I was able to resolve this last week by doing the following:

1. Removing the global modules ESlint, and xo. I also removed all ESlint presets/extensions/plugins.
	E.g. `yarn global remove xo eslint prettier eslint-config-jest`

	Note to see what you have installed globally with yarn use: `yarn global list`

2. Set the monorepo's root `.vscode/settings` to the following:

[code]

3. Set all worksp

[2020-07-29 13:24] rquintanilla-ne opened #83 "Broken Build"
Current master branch build is broken.

[2020-08-17 19:55] droopert commented on #78
If no `rules` are specified in a project's xo config, disabling rules like `capitalized-comments` in the project's vscode settings (i.e. `xo.options.rules`) works well. Auto-fix doesn't capitalize blocks of commented code, and the rule still gets enforced during githooks, CI, etc. Unfortunately, if rules _are_ specified in your project's xo config (this seems to be the case more often than not for

[2020-08-20 05:55] sheedy commented on #80
@arnohovhannisyan It works with these settings:

[code]

I also duplicate the `[javascript]` for `[javascriptreact]`.

[2020-08-20 05:58] sheedy commented on #67
@rizowski I use this in my workspace's `.vscode/settings.json` and can just comment out lines I need to disable temporarily:

[code]

I also duplicate the `[javascript]` for `[javascriptreact]`.

I had to also add `"eslint.enable": false` to stop the default `eslint` (outside of XO) kicking in.

[2020-08-20 06:01] #80 closed

[2020-08-27 21:14] osdevisnot opened #84 "Support XO as Transitive Dependency"
Hi @SamVerschueren, first of - thank you so much for your efforts on this extension.

While using this extension, I noticed we look for `xo` being listed as dependency in the `package.json` at project root to enable the linting experience.

See relevant code [here](https://github.com/SamVerschueren/vscode-linter-xo/blob/a1c0e79f65f9295661ae78e626d6e7950d5ffff6/server/src/package.ts#L21) and [here]

[2020-11-25 18:06] jopdeklein commented on #42
A bit late to the party, but I can confirm in some cases multiple format actions are needed to get the desired result, see attached gif. If I run XO directly from the CLI it formats correctly so it seems related to this plugin, not XO itself.

![xo_fast](https://user-images.githubusercontent.com/200943/100265840-24baa400-2f51-11eb-97c9-03bd8fff33c9.gif)

[2021-02-09 11:32] osdiab opened #85 "Support quick fixes"
One way in which this plugin seems to be inferior to the ESLint one, is that quick fixes don't seem to be present even though the underlying ESLint rules provide them. For example:

![Screen Shot 2021-02-09 at 20 30 53](https://user-images.githubusercontent.com/1890926/107357777-d9f30600-6b15-11eb-8703-1fd17d953592.png)

If I were using normal ESLint, I could apply a quick fix to automatically add

[2021-02-09 11:40] osdiab commented on #85
oh this is a dupe of #75, closing

[2021-02-09 11:40] #85 closed

[2021-02-09 11:40] osdiab commented on #75
Seeing the same thing - but given that this plugin hasn't been updated in a year I'm wondering if it's dead.

[2021-02-09 11:42] osdiab opened #86 "Is this project still alive?"
It hasn't been updated in a year despite lots of issues; is anyone still managing this/is this still a recommended tool for XO? The native ESLint VSCode plugin has gotten pretty good over time, supports newer stuff like `yarn berry`, and more so it's a bummer to see this essential part of the `xo` ecosystem remain unloved, pushing me to ditch `xo` and just set everything up by hand again as I woul

[2021-02-09 11:45] osdiab opened #87 "Only underlines the first character of a lint error"
ESLint VSCode plugin underlines the whole error, this one only underlines the first character, which makes it annoying to hover.

![Screen Shot 2021-02-09 at 20 45 07](https://user-images.githubusercontent.com/1890926/107359213-c6e13580-6b17-11eb-936e-c3ff869281f2.png)
![Screen Shot 2021-02-09 at 20 30 53](https://user-images.githubusercontent.com/1890926/107359218-c8126280-6b17-11eb-8b4c-d4d7f23d

[2021-03-03 21:38] sikhote commented on #86
The plugin is no longer available on vscode, so I guess not using XO anymore :(

[2021-03-05 14:35] #48 closed

[2021-04-02 16:33] fregante opened #89 "Enable by default"
Installing this plugin already shows intent to lint using XO, so I think it should always automatically be enabled if `xo` was detected as a dependency of the current file or project.

[2021-04-26 16:20] sholladay commented on #86
I'd be happy to contribute $ to revive this project, if there is a maintainer who has time for it. My team has run into some of the known bugs, which makes XO a tough sell at work.

[2021-04-26 18:47] SamVerschueren commented on #86
I'm happy to add people as maintainer. So if anyone is willing to take it, let me know.

[2021-05-09 12:17] yakov116 opened #91 "Does not work with the latest version of XO"
[<img alt="Issuehunt badges" src="https://img.shields.io/badge/IssueHunt-%2460%20Funded-%2300A156.svg" />](https://issuehunt.io/r/https://issuehunt.io/r/SamVerschueren/vscode-linter-xo/issues/91)

Failed to load XO library. Make sure XO is installed in your workspace folder using 'npm install xo' and then press Retry.

[2021-05-14 03:05] lolPants commented on #91
This appears to be caused by [XO v0.40](https://github.com/xojs/xo/releases/tag/v0.40.0) migrating the project to ESM, and with it breaking compatibility with this extension.

[2021-05-14 03:33] lolPants commented on #91
As far as I can tell, https://github.com/xojs/xo/pull/534 introduced some change to XO's config resolver, which in turn broke the logic that loads the XO library.

[2021-05-16 23:48] hanakin opened #92 "Failed to load config "xo/esnext" to extend from. Referenced from: BaseConfig"
after installing the ext and loading up a js file I get the above error in vscode

here is my config

[code]

[2021-05-17 15:28] Shuunen commented on #91
@lolPants is right, the version just before `0.39.1` is working well with this extension

[2021-05-24 10:42] tusbar commented on #91
Hi @Richienb, this issue is very much related to https://github.com/xojs/xo/issues/543.

`xo@0.40.1` is looking for `eslint-config-xo` within the vscode extension’s context, and not within the extension’s workspace root.

`xo` is loading using `resolveModule(workspaceRoot, 'xo')`, see https://github.com/SamVerschueren/vscode-linter-xo/blob/master/server/src/server.ts#L131.

Then it throws when try

[2021-05-24 10:49] Richienb commented on #91
ESLint is only able to resolve plugins from the same node_modules folder that it is installed in or the node_modules of the project directory its `cwd` is set to. I think 0.40.0 just made it do the other thing but I can't be certain.

Could the `cwd` option in `xo` be of use for now?

[2021-05-24 12:25] yakov116 commented on #91
It could but makes this plugin useless. Also makes linting so much harder.

[2021-05-24 14:13] tusbar commented on #91
Yeah, that is definitly the issue, `eslint-config-xo` is being searched within the `CWD`.

The issue is not when linting files, but when loading the package.
The `cwd` option is actually already set when linting (https://github.com/SamVerschueren/vscode-linter-xo/blob/master/server/src/server.ts#L198)

[2021-05-29 17:31] andrewdbond commented on #91
For those seeking a workaround until this is otherwise resolved, use xo v0.39.1, the most recent working version:
[code]
or the shorter version:
[code]
If you want to see xo's description of what's in the last few releases: https://github.com/xojs/xo/releases/

[2021-05-29 18:30] andrewdbond commented on #70
For others experiencing this issue, I was able to successfully _add_ an env by [putting it in the package.json](https://github.com/xojs/xo#user-content-config) or [with the `xo --env` option](https://github.com/xojs/xo#user-content-usage).

The [documentation says this configuration option defaults](https://github.com/xojs/xo#user-content-envs) to `['es2021', 'node']`. However, even if I only list

[2021-06-21 14:30] Spence-S commented on #91
added this issue here for visibility: https://github.com/xojs/xo/issues/563

@SamVerschueren can we get any confirmation on if this extension is dead or alive? It doesn't look like its had any real activity in 2 years. Should we look for a new solution for vscode integration?

[2021-07-08 12:49] yakov116 commented on #91
Is there anyone here that would like to fix this for money? I am willing to pay.

[2021-07-19 11:55] savearray2 commented on #91
Willing to monetarily support an update to this, as well.

[2021-07-19 12:46] savearray2 commented on #91
@yakov116
Er, that wasn't supposed to be anonymous. But in any event, I've matched funding.

[2021-07-22 00:25] Spence-S commented on #91
I forked and published this package as a new extension - since it seems this is no longer being maintained or accepting PRs. Please try this via the link below, and feel free to file issues in my fork. My extension should work now for all versions of XO. @tusbar @yakov116 @savearray2  -- if you have any problems definitely let me know and I will try to fix right away.

https://marketplace.visualst

[2021-07-22 10:05] savearray2 commented on #91
@Spence-S
Thank you for the update! It is much appreciated. I'm in the middle of switching laptops. I'll check it out in the next day or so :)

[2021-07-27 13:11] yakov116 commented on #91
@Spence-S your extension works perfect ly! @SamVerschueren can you merge the PR?

If it does not get merged in the next week I will credit you the bounty.

[2021-07-31 19:06] Spence-S opened #95 "Extension Roadmap"
As it stands, the xo linter extension works fairly well but is pretty bare bones and needs some fixing up.

current extension:
https://marketplace.visualstudio.com/items?itemName=samverschueren.linter-xo

### Immediate goals
- [x] publish v3 under SamVerschueren.linter-xo
    - Can now be used immediately under the soon to be deprecated [spence-s.linter-xo](https://marketplace.visualstudio.com/ite

[2021-08-01 15:46] Spence-S commented on #91
closed by https://github.com/SamVerschueren/vscode-linter-xo/pull/94

[2021-08-01 15:46] #91 closed

[2021-08-01 15:49] yakov116 commented on #91
Can you try to link the pull request? If this does not work I will email them

[2021-08-01 15:52] yakov116 commented on #91
@SamVerschueren I think you may have to reward it since your the repository owner. @Spence-S I will send them an email now. If they don't get back to me in a prompt matter, I will send it to u via PayPal etc.

[2021-08-01 16:02] Spence-S commented on #91
@yakov116 feel free to email me @ sasnyde2@gmail.com if you need anything else from my end. Will try to stop spamming these threads here 😄 - but thanks for your support on this.

[2021-08-01 16:33] SamVerschueren commented on #91
Not entirely sure how this works. I'll check tomorrow on my computer. I tried linking the PR, not sure if that did it...

[2021-08-01 16:36] yakov116 commented on #91
I think you have to go onto issue hunt and award it there

[2021-08-01 16:40] SamVerschueren commented on #91
Yes. I found it :). Great work everyone!

[2021-08-01 16:45] Spence-S commented on #86
Lots of updates coming soon! see #95

[2021-08-01 16:45] #86 closed

[2021-08-01 16:48] #83 closed

[2021-08-01 17:09] tusbar commented on #95
Wouldn't be a bad thing to request migrating this repo to the XO (https://github.com/xojs) organization.

[2021-08-02 21:16] Spence-S commented on #95
@tusbar I'd like to do that, however, I am only a collaborator on a user repository here - so I don't believe there is anything I can do. @SamVerschueren Would you be ok to work with @sindresorhus to move this to the xo org? - It would be nice to have a few more permissions that I don't think I can get as a collaborator on a user repo. For instance, I'd like to make issue templates to suggest comm

[2021-08-02 21:21] SamVerschueren commented on #95
I'm ok with moving it. @sindresorhus what do you think?

[2021-08-02 21:21] darkred commented on #95
@Spence-S
I think what you need is the repo to be *transferred* to you, not be just a collaborator.
https://docs.github.com/en/github/administering-a-repository/managing-repository-settings/transferring-a-repository

[2021-08-03 03:12] Spence-S commented on #89
currently enabled by default on https://marketplace.visualstudio.com/items?itemName=spence-s.linter-xo

[2021-08-03 03:12] #89 closed

[2021-08-03 14:35] sindresorhus commented on #95
@SamVerschueren 👍

[2021-08-03 14:52] yakov116 commented on #95
@Spence-S can you clean up all the issues?

[2021-08-03 14:52] yakov116 commented on #92
Duplicate of #91

[2021-08-03 14:53] yakov116 commented on #51
@idmyn are you still having an issue?

[2021-08-03 14:54] yakov116 commented on #47
@idmyn are you still having an issue with the latest version?

[2021-08-03 14:54] #92 closed

[2021-08-03 14:55] yakov116 commented on #60
@niktekusho are you still having an issue?

[2021-08-03 14:56] yakov116 commented on #54
@07Gond are you still having an issue?

[2021-08-03 14:58] yakov116 commented on #66
Looks like your settings are not correct.

Issue can be closed

[2021-08-03 14:58] yakov116 commented on #69
@rizowski Can you try the latest version?

[2021-08-03 15:00] yakov116 commented on #77
@shanoaice still have an issue?

[2021-08-03 15:00] yakov116 commented on #73
@PopGoesTheWza still have an issue?

[2021-08-03 15:01] yakov116 commented on #81
@slikts still have an issue?

[2021-08-03 15:02] yakov116 commented on #87
@osdiab I do not see this issue with the latest version of xo and this plugin. Please report if you still have this issue.

[2021-08-03 15:07] Spence-S commented on #69
This was actually an xo issue that has been resolved in the latest release. since this issue is stale I am closing, but if anyone has any more TS problems with the latest xo installed please open a new one.

[2021-08-03 15:07] #69 closed

[2021-08-03 20:59] osdiab commented on #87
We can close it - I haven't been using XO anymore because of it's lack of support, hopefully the situation gets better with the new roadmap I saw!

[2021-08-05 01:05] #81 closed

[2021-08-05 01:06] #73 closed

[2021-08-08 21:46] zardoy opened #97 "Doesn't format with `editor.formatOnSaveMode` set to `modifications`"
XO works okay as formatter, but not with `editor.formatOnSaveMode` set to `modifications` setting.

VSCode says: Extension 'XO' cannot format 'file'.

It's would be handy for me, because I got used to it with ESLint and noticed it saved some extra time on saving big TS files (but I might be wrong).

[2021-08-09 14:51] tusbar commented on #95
@Spence-S is anything blocking the release process? Can we help in any way? I’d like to start updating xo on my repos and don’t want to ask people to switch to your fork.

[2021-08-09 14:53] SamVerschueren commented on #95
I'm in contact with the VSC team to add @Spence-S as contributor but for some reason what they did didn't work. So we're trying to resolve it. Sorry for the inconvenience.

[2021-08-09 14:55] sindresorhus commented on #95
@SamVerschueren I think you should have access to move the repo to the organization. And if not, just move it to me and I'll move it to the organization.

[2021-08-09 15:05] SamVerschueren commented on #95
Oh yes. I'll try to do it this evening. But I think the question was for releasing it in the marketplace.

[2021-08-09 15:08] Spence-S commented on #97
Currently this isn't supported but it's a great idea, we will add it to the roadmap.

[2021-08-10 13:06] Spence-S commented on #95
The VScode team has resolved publishing issues and I have released the extension updates under the original https://marketplace.visualstudio.com/items?itemName=samverschueren.linter-xo

[2021-08-10 21:02] #66 closed

[2021-08-14 15:48] idmyn commented on #51
Haven't used this extension in years so not sure if the issue is fixed but I'm happy to close

[2021-08-14 15:48] #51 closed

[2021-08-21 10:40] MikeYermolayev commented on #75
+1
this affects my DX badly

[2021-08-30 15:11] darkred commented on #15
The ability to add links to diagnostic errors has been added in VSCode since v1.42 (Jan 2020) : see [here](https://code.visualstudio.com/updates/v1_42#_adding-links-to-diagnostic-errors)

E.g. here is a screenshot of how the related rules of the problems are rendered by this extension vs the [ESLint](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint) vscode extension:
![20

[2021-08-30 16:06] Spence-S commented on #15
I currently have this as a WIP - along with other features mentioned in the [roadmap.](#95) This particular feature needs a [patch in xo](https://github.com/xojs/xo/issues/590) and also needs some good internal caching strategies to ensure performance. So its just a matter of finding the time. PRs welcome!

[2021-08-30 16:17] Spence-S commented on #54
stale

[2021-08-30 16:17] #54 closed

[2021-08-30 16:17] Spence-S commented on #77
stale

[2021-08-30 16:17] #77 closed

[2021-08-30 16:18] Spence-S commented on #47
stale

[2021-08-30 16:18] #47 closed

[2021-08-30 16:21] #18 closed

[2021-08-30 16:22] Spence-S commented on #67
use vscode workspace settings to accomplish this.

[2021-08-30 16:22] #67 closed

[2021-08-30 16:23] Spence-S commented on #59
see [xo](https://github.com/xojs/xo) documentation

[2021-08-30 16:23] #59 closed

[2021-08-30 16:25] Spence-S commented on #72
stale and likely [xo](https://github.com/xojs/xo) issue that has been resolved by now

[2021-08-30 16:25] #72 closed

[2021-08-30 16:28] Spence-S commented on #60
stale

[2021-08-30 16:28] #60 closed

[2021-08-30 16:31] darkred commented on #79
Just wanted to mention that since [v0.41.0](https://github.com/xojs/xo/releases/tag/v0.41.0) :

[2021-08-30 17:07] Spence-S commented on #79
@darkred thanks - I was still thinking of supporting this since it seemed really easy to do... After further thought, I'm not really sure if the use case is valid or not or if it would cause dependency resolution problems.

I don't use deno. @glossnyx is this something this is still desired in the deno community??

[2021-08-30 18:41] glossnyx commented on #79
I wouldn't know, I don't use deno/xo anymore.

[2021-08-30 19:10] Spence-S commented on #79
ok - after thought and seeing that this was the only request for this feature, im going to remove this from the roadmap as it doesn't seem useful enough and isn't inline with the xo philosophy.

[2021-08-30 19:10] #79 closed

[2021-10-13 18:59] #84 closed

[2021-10-13 19:00] #42 closed

[2021-10-13 19:34] darkred opened #99 "After updating to 3.3.0 I'm getting ''Starting process to resolve node module xo failed" and The xo server crashed 5 times in the last 3 minutes. ""
After updating the extension to 3.3.0 from 3.2.0 (VSCode 1.61 x64, Node 16.11.1 on win11)
whenever I try to open any folder in VSCode I'm getting these errors:

That is (from bottom to top):
![2021-10-13_225842](https://user-images.githubusercontent.com/723651/137204172-0cc43f05-0bf2-4945-903e-cc467bb232a3.jpg)

<details>
<summary>The output of the 3rd/top message:</summary>

[code]
</details>

Th

[2021-10-13 20:34] Spence-S commented on #99
Interesting @darkred - sorry for the inconvenience - just to cover my bases - do you have xo installed in the workspace? I cannot reproduce this on mac.

And even more odd - I these errors should be caught and handled internally and not crash the server. Not sure if VSCode has some sort of mechanism there that disconnects it...

Anyway - it looks like the error is coming from trying to resolve the

[2021-10-13 21:41] #99 closed, assigned to nobody

[2021-10-15 01:50] Yash-Singh1 opened #100 "Failed to resolve module: xo. Ensure that xo is installed."
Some of my repositories don't use `xo` and every second that I type some javascript code, a popup appears saying: `Failed to resolve module: xo. Ensure that xo is installed.`

![Screenshot from 2021-10-14 18-46-38](https://user-images.githubusercontent.com/53054099/137419200-1503f47d-fa1b-4934-b049-fb5a1ff98a34.png)

Maybe, the extension will not show the popup if it is not installed because not a

[2021-10-15 03:27] Spence-S commented on #100
You can disable the extension per workspace in vscode.

Perhaps this is too aggressive. I'll leave this open and see if others find it too annoying. I will just have it report this particular error in the in the extension tab only.

[2021-10-15 06:39] tbrolin commented on #100
Yesterday I reopened my project and started to get the failed to resolve module xo error. My workspace root is not a npm package and only one subfolder is using xo, with xo configuration in the package.json file. The plugin has worked fine up until now...

[2021-10-15 14:08] Spence-S commented on #100
I went ahead and published an update so that particular error message should only be shown once and then it will continue to try to resolve xo in the background, without showing an error, until you install it.

I may consider removing this message altogether in the future but I feel it could be helpful to new users. Hopefully this is a good middle ground.

Not sure what your workflow is here, but

[2021-10-16 10:24] melusc opened #101 "Deletes code if previous line has trailing spaces/tabs"
If you have something like this (note the trailing tabs on the first line):
[code]
and you format it using the extension it removes the trailing tabs and cuts off a bit of the next line. The result is something like this:
[code]

If you use `xo` from the cli it doesn't cut off anything, and if you use `vscode-linter-xo@3.2.0` it doesn't either.

I tried `v3.3.1` and `v3.3.2` and both behaved like

[2021-10-16 13:31] darkred commented on #100
I also find this message too annoying and aggressive.

So, I'd like to offer an approach I came up with: to check the current folder tree's package.json, and
- if there is a `xo` entry in package.json, e.g. https://github.com/refined-github/refined-github/blob/8ed6674f0935ff23dbb4ea81f2f327b4c748405a/package.json#L125
but `xo` is not installed (i.e. the user hasn't run `npm install`), then display

[2021-10-16 14:14] Spence-S commented on #100
@darkred @sachinraja - do you feel it is still aggressive even as it is now - showing only 1 time per open instance of VScode?

@darkred I like that idea - I will implement it that way. - however, I won't make it depend on xo being in package.json, it will look attempt to resolve xo and lint no matter what, but if xo isn't present in deps - it will fail silently.

@sachinraja xo does not need any

[2021-10-16 14:33] Spence-S commented on #101
@melusc thank you for the detailed bug report. Unfortunately I couldn't repro this behavior, even in the linked repro and tested after toggling all the final new line options and trying to make changes and apply fixes very quickly.

question 1 - what command do you use to format? Do you use "xo: fix all fixable problems" or do you use "format document" with xo enabled as the default formatter?

I

[2021-10-16 14:51] sachinraja commented on #100
I do feel that is still aggressive as the error shows every time I open vscode to a project without xo.

[2021-10-16 14:53] darkred commented on #100
Yes, because e.g. my repo doesn't use xo, and I shouldn't get the message at all.
And, in general, XO, being an ESLint wrapper, regardless of how much useful it is, it's less commonly used than ESLint alone.

[2021-10-16 16:53] melusc commented on #101
If I use "xo: fix all fixable problems" or "format document" it works perfectly, the issue occurs when I save, because I have format on save enabled and xo is the default formatter. That means that it must be running "trim trailing whitespace" and xo at the same time which must be causing issues.

I also noticed that I copied the wrong setting-name in my previous comment, the conflict only occurs

[2021-10-16 17:20] Spence-S commented on #101
Thank you - I can reproduce this now. And confirmed it is indeed the debounce that causes this - although I am not quite sure why. It may be a VSCode bug for this race condition to be possible. I am going to be releasing a new version later today with the debounce off by default and configurable for large file performance and this will solve this. I will let you know when I do.

[2021-10-18 22:58] sachinraja commented on #100
Thank you for listening to our feedback @Spence-S! Really appreciate your work on this extension

[2021-10-23 17:06] novemberborn opened #103 "import/order order has different behavior across node versions - vscode forces xo to run in node v14"
https://github.com/avajs/ava customizes the import ordering so that it deviates from XO 0.44. When I format AVA code using this extension, the imports are reordered according to the XO rules.

I haven't noticed any other rules being disregarded like this, but that may be due to the files I've been editing.

[2021-10-25 14:35] #103 closed, assigned to nobody

[2021-10-25 17:59] darkred opened #104 "Move the 'Release Notes' inside the separate 'Changelog' tab"
Currently the 'Release Notes' for every version of the extension is listed inside the 'Details' tab of the Extensions view (Ctrl+Shift+X):

<details>
<summary>Screenshot</summary>

![2021-10-25_202227](https://user-images.githubusercontent.com/723651/138741436-7d3cb411-7804-446f-ad70-4c656139ebae.jpg)
</details>

They should show up inside the separate 'Changelog' tab, as in e.g. the 'ESLint' exte

[2021-10-25 19:35] #104 closed, assigned to nobody

[2021-11-04 15:29] flying-sheep commented on #71
What do I set `"xo.runtime"` to to make this work?

[2021-11-08 14:02] flying-sheep commented on #71
Or `xo.path`. There seems to be no way to set it relative to the project directory

[2021-11-08 14:19] shanoaice commented on #71
Yarn v2 (and its successor v3) uses a very non-standard way to store its modules, and all of its module resolution jobs is done by injecting `.pnp.js` and tinkering with Node's module resolution logic, so there is presumably no way to solve this problem by simply changing vscode-xo-linter's config.

My suggested solution will be switching to `eslint-config-xo` + ESLint VSCode plugin combo. The ESL

[2021-11-08 14:29] flying-sheep commented on #71
Sorry for my pedantry, but there is no standard way to store modules. `node_modules` is a convention the tool `npm` introduced and has staying power only because of `npm`s success.

I think it’s fair to develop alternative solutions that are superior for certain use cases.

I’m pretty sure the same solution as `eslint` would work:

1. allow relative paths in `xo.path` so specifying e.g. `file://${

[2021-11-08 14:48] Spence-S commented on #71
@flying-sheep curious why you can't just set the absolute path on your system? There is no "version check" that we do with this extension. We just load the version on startup so you can see that its using the right version, it doesn't actually do anything. If you use the path option, we don't check the version at all, we just call it "custom"...It should just work.

I do this when I work on xo its

[2021-11-08 14:56] flying-sheep commented on #71
I commit my project configuration and expect it to be self contained and machine independent.

[2021-11-08 15:21] flying-sheep opened #105 "Allow using relative paths for settings"
There’s two possible ways to go about this:

- Allow `./blah` relative paths in addition to `file://` URLs, or
- Implement variable substitution (`${workspaceFolder}`): Since inexplicably VS Code doesn’t export the mechanism it uses itself (microsoft/vscode#2809), we could use a subset of [the code PythonVSCode uses](https://github.com/DonJayamanne/pythonVSCode/blob/e8b109c2f21e56128620abd881e04fd

[2021-11-08 15:40] flying-sheep commented on #105
@sindresorhus which one would you prefer? I could do a quick PR.

[2021-11-08 15:46] Spence-S commented on #105
I'm willing to support/merge this if you want to make a PR @flying-sheep seems like a reasonable use case to me.

The only line that would need to be changed is this:
https://github.com/xojs/vscode-linter-xo/blob/master/server/server.js#L464

I don't think we should use the same variable substitution that vscode uses, because I don't think we need to support any token other that workspace folder.

[2021-11-08 16:15] flying-sheep commented on #105
I’d prefer a relative path to a custom placeholder. The `${workspaceFolder}` idea was because it’s familiar, but so is using a relative path (e.g. for `eslint.nodePath`)

[2021-11-08 16:28] Spence-S commented on #105
sounds good @flying-sheep - I will take care of this later today If I don't see a PR.

[2021-11-08 17:57] #105 closed

[2021-11-08 19:05] Spence-S commented on #105
@flying-sheep this is published now - I went ahead an added a couple of lines to deprecate the file uri and made the option take an absolute path or a relative path because I felt this made more sense. Thanks for your help!

[2021-11-08 23:39] flying-sheep commented on #105
great, thank you!

[2021-11-09 06:14] sholladay opened #108 "Errors and skips linting outside of a workspace"
Hi. First, thanks for all of the recent work on this extension. It used to be quite buggy, but seems like it's improved a lot in the last year.

I've got everything working correctly where if I run `code .` or `code /path/to/folder` in my terminal, VS Code opens and the extension successfully lints the code. All settings are at their default and settings.json is empty. XO is installed locally and

[2021-11-09 15:50] Spence-S commented on #108
@sholladay - unfortunately the entire architecture of the extension right now is based around workspace folders. It does look like there are a few unhandled errors around opening single files. However, we purposefully do _not_ lint them by design. I made this decision for both simplicity and performance.

We _may_ fully support this in the future, but I don't think this will come for a long while

[2021-11-09 19:08] sholladay commented on #108
Okay, thanks for the clarification. I was afraid of that. The docs aren't entirely clear on this point. They do say XO must be installed locally in your workspace folder, which I suppose could be interpreted to mean that a workspace is required, but I guess partly because VS Code's workspace semantics are almost invisible and partly because earlier versions of this extension were the exact opposit

[2021-11-10 02:47] Spence-S commented on #108
@sholladay - I got curious about what this would take and I came up with a really simple way to make it work pretty reliably. Try the latest version (3.8). If you open a file now and you don't have a workspace open, we find the nearest package.json and use that as the workspace. I thought this would be way more complex 😆 . Happy hacking.

Let me know if you have any trouble.

[2021-11-10 03:50] #108 closed

[2021-11-10 08:38] sholladay commented on #108
Happy to confirm that 3.8 works for me. Thanks. :)

Will obviously need a different solution for Deno. I'm looking forward to trying this out on [pogo](https://github.com/sholladay/pogo).

[2021-11-10 15:07] Spence-S commented on #108
Awesome!

The best option that will fit in your workflow  (opening all files as one offs) and any others I think would be to just put a package.json at the project root and install xo locally in the project via npm. I think using npm for some dev deps is still pretty common in deno projects, no?  If you didn't want to include it in your project you could add `pogo/node_modules` and `pogo/package.j

[2021-12-01 02:04] hjiog opened #109 "quick fix is not available"
![image](https://user-images.githubusercontent.com/42141272/144158399-fb5bd324-82fa-41ca-9c44-3bf0db4e6384.png)

[2021-12-01 10:47] Nicholaiii commented on #87
I have this issue, everywhere.
![image](https://user-images.githubusercontent.com/7280931/144220849-87301492-4d0e-4dff-8917-a764a20329cf.png)

[2021-12-01 15:59] Spence-S commented on #109
We currently only provide quick fixes that are also able to be fixed by xo --fix. This is not a fixable error fro what I can see here, and therefore should not have a quick fix. Quick fix seems to work fine for me.

[2021-12-01 16:00] Spence-S commented on #87
Yep - this is annoying and have been meaning to fix this - will make this a priority to have soon.

[2021-12-02 00:35] #87 closed

[2021-12-02 00:51] #109 closed

[2022-03-13 23:13] Spence-S commented on #15
After doing some further research on this - I found that xo primarily relies on the package https://www.npmjs.com/package/eslint-rule-docs  which I am using to add rule definition links as well. No need to add this directly to xo.

[2022-03-13 23:13] #15 closed

[2022-04-28 00:17] mcous opened #110 "Extension gets stuck on parsing errors using generated tsconfig"
## Overview

I've been trying out using `vscode-linter-xo` in a TypeScript project, and I'm running into _very_ frequent spurious "Parsing error: "parserOptions.project" has been set... The file does not match your project config".

This issue happens to me when `xo` is generating its own `tsconfig` due to a linted file not being present in the tsconfig specified by `parserOptions.project`.

The r

[2022-04-28 13:26] Spence-S commented on #110
@mcous -- this really doesn't have much to do with this extension but it is a known problem for xo...historically tsconfigs have been the most difficult part of making xo work for everyone out of the box. - The current work around you are proposing is the best option and is generally what I've seen most ts xo users do, including myself, although I don't work on a lot of complicated ts projects.

I

[2022-04-28 13:58] mcous commented on #110
@Spence-S yeah, that makes total sense! I only ended up running into this issue because I also ran into #661, mentioned above - I provided a matching tsconfig to `xo`, but `xo` disagreed that it was a match, so tsconfigs started getting generated.

A few gut reactions upon reading the code for the first time:

- It struck me as odd that the hash in the generated tsconfig's filename would be the sa

[2022-04-28 14:46] Spence-S commented on #110
@mcous awesome thanks for the help! I think if you can make sound improvements here PRs will be welcomed by @sindresorhus

One of the big differences between the cli and the vscode extension is the fact that the extention only lints a single file at a time ever. The cli almost is always linting multiple files and grouping them together to make the least amount of eslint runs possible. -- this diff

[2022-04-28 18:04] kiikoh opened #111 "feat: support monorepos by allowing nested folders to act as the xo root folder."
This comes up for me if I want to have a react project in a client folder as well as a server folder both open, and using different configurations.

I think the expected behavior should be to walk up the folder structure from the file that is currently open stopping at the first package.json it reaches.

[2022-04-28 18:20] Spence-S commented on #111
How do you handle this with the xo cli? This is just not the way xo works. -- the way to handle a monorepo in the documentation is to put a single config at the root and use overrides. see https://github.com/xojs/xo#monorepo
--- I think your use case would need to be better supported by the cli for me to support it here, but if you feel differently I am open to ideas and will accept PRs.

[2022-04-28 18:21] kiikoh commented on #111
OK, I think you are right here, XO was giving me a hard time as well, it might be an issue for XO, or not at all, wasn't aware of the monorepos

[2022-04-30 14:32] kiikoh commented on #111
Hey, I've tried working with the monorepos and I can't seem to find the correct usage of it anywhere online. How can I set up xo in the root of the monorepo, and then extend the configuration in the "app" level package.json's? Basically, I have a react and express server and I want to have the react plugins for the front-end only

[2022-05-06 12:02] gutenye opened #112 "Provides links to @typescript-eslint rules"
As shown below, the Eslint extension provides a link to the rule `@typescript-eslint/no-empty-function`, but not with XO extension.

<img width="1054" alt="Screen Shot 2022-05-06 at 20 00 54" src="https://user-images.githubusercontent.com/377544/167127540-7303852a-f5f4-42c2-9b1d-188121fd6128.png">

[2022-05-07 16:43] Spence-S commented on #112
both xo and this extension rely on https://github.com/stefanbuck/eslint-rule-docs for these links.

Opened a related issue here https://github.com/stefanbuck/eslint-rule-docs/issues/5

[2022-05-26 14:24] gutenye opened #113 "When fixable rules are overlapping, It takes multiple format/fix commands to reach the same result as cli xo --fix"
The .xo-config.cjs

Using [eslint-plugin-simple-import-sort](https://github.com/lydell/eslint-plugin-simple-import-sort)

[code]

This code

[code]

is formatted into below using VSCode  `Format Document with - XO`

[code]

is formatted into below using Cmd `xo --fix`

[code]

The result is different.

I guess the Cmd runs `eslint fix -> prettier` in order, but the VSCode runs `eslint fix` only.

[2022-05-26 17:58] Spence-S commented on #113
The extensions does not run things any differently than the CLI. There is no prettier or eslint step, they are both ran at the same time by eslint under the hood in xo.

1) Try setting the  "xo.runtime" setting in VSCode so you are using the same nodejs binary for both the cli and the extension. Otherwise, by default xo in vscode will use the version of nodejs bundled inside of vscode which can ca

[2022-05-27 02:08] gutenye commented on #113
Setting the `xo.runtime` didn't help. I output the [edits and result](https://github.com/xojs/vscode-linter-xo/blob/736f91e6442ebbb80930d3e2d3a9e94e8183d24b/server/server.js#L740-L745) and find out the problem

[code]

The VSCode runs the fix at the same time and output an overlap free result. I guess the xo cmd runs the fix in sequence.

[2022-05-27 12:23] Spence-S commented on #113
@gutenye - thank you so much for digging into this problem. I will look more deeply into this and see if I need to strip out some of the old overlap logic.

[2022-05-28 16:10] Spence-S commented on #113
So after taking a look I realized that this is just a known issue. There is actually not a core problem, you just have to run format 2x to get the same results as the CLI for some overlapping rules. This is something I am interested in fixing long term, but it's not a very high priority since the work around is just executing format 2x.

This is a duplicate of https://github.com/xojs/vscode-linter

[2022-06-01 09:55] gutenye commented on #113
Will this solution be easier? Add a `editor.codeActionsOnSave` option.

The Eslint VSCode Exension has [this option](https://github.com/Microsoft/vscode-eslint#version-204)

[code]

This will run eslint fix first, then prettier fix, fixes my issue.

[2022-06-01 12:29] Spence-S commented on #113
eslint suffers from this too, but is admittedly a little better than this xo extension --- try formatting big unformatted files with eslint, xo + unicorn plugins and prettier. -- You will have to save multiple times. Also, it doesn't happen very often in this extension at all, it is not nearly as inconvenient as you are making it out to be.

Maybe - this is on the road map. I have recently started

[2022-06-02 22:09] droobertzka opened #114 "Adding a `.eslintignore` file causes erroneous parsing errors in VSCode"
## What?

Adding an `.eslintignore` file results in the vscode-linter-xo extension not correctly using the babel eslint parser and throwing parsing errors such as the following on otherwise non-problematic javascript files:

This is true despite including `engines` in package.json and is not specific to any particular keyword (i.e. if using commonjs `require()`s with unicorn/prefer-modules turned

[2022-06-05 23:46] Spence-S commented on #114
Thanks for the detailed report, unfortunately, I could not reproduce after following all of the steps. Behavior for me was consistent and predictable. I tried reproducing with both node 14 and 16.

Further, this extension nor xo cli interact with eslintignore at all, that is handled entirely by eslint, which is what xo uses under the hood. This extension, nor the xo cli, can use an eslint config f

[2022-06-10 19:24] #114 closed

[2022-06-29 13:34] jdbruijn opened #115 "Configuration for rule "@typescript-eslint/unified-signatures" is invalid"
With xo 0.50.0 I'm getting the following error. Reverting to 0.48.0 (the one that I was previously using) the error disappears again.

- Extension v3.9.0
- xo v0.50.0
- Visual Studio Code
[code]
- system
[code]

[2022-07-19 13:07] Spence-S commented on #115
This should be open in the `xo` repo and not here.

[2022-07-19 13:07] #115 closed

[2022-07-21 22:42] Spence-S commented on #112
As of xo release v0.51.0 and v3.10.0 of this extension, xo natively finds rule docs and the extension support showing them. For earlier versions of xo, eslint-rule-docs will be used as a fallback. Upgrade xo to latest version to always have correct docs now.

[2022-07-21 22:42] #112 closed

[2022-08-01 02:24] papb commented on #111
Hello, I am not in the real situation described here, but after reading the thread I wonder why you started talking about monorepos. Consider a much simpler example: you have two completely unrelated Git repositories of Node.js projects that happen to be cloned next to each other in a folder in your PC. And then you opened only one VSCode window, on this parent folder. Sometimes you work on projec

[2022-08-01 11:35] kiikoh commented on #111
Yeah, I agree I was not completely satisfied with the answer I received either, I still haven't figured out a way to get it working exactly as I'd have liked it to.

[2022-08-01 16:40] Spence-S commented on #111
You cannot. If I am understanding your question correctly, this is not supported by xo at all. If you want one instance of VSCode and to have multiple folders open with different versions of xo and different configurations, you can use vscodes "multiroot" workspaces. -- vscode-linter-xo does support those and we go to great lengths to cache the versions and give good performance in these scenarios

[2022-08-07 10:47] kidonng opened #117 "Add a command to restart XO server"
There are times when a change does not take effect immediately (e.g. modifying `tsconfig.json`) or XO stuck at a previous state, restarting XO server may come in handy. Currently I have to search and kill the process myself, which is inconvenient.

Ideally we should have a `XO: restart server` command similar to `TypeScript: Restart TS Server`.

[2022-08-07 12:55] Spence-S commented on #117
I agree, I can add this command in the next release. As a workaround I use the command: `Developer: reload window` for this kind of thing a lot.

[2022-08-07 13:06] kidonng commented on #117
That's... a last resort. I treat it as a kill switch when something goes wrong and I can't/don't want to figure out how to reset it. I also use Codespaces a lot and reloading window will cause a reconnection and mess up my terminal.

[2022-08-10 16:16] kidonng opened #118 "Extension does not work with untitled files and files opened outside of folders"
When writing in Untitled files (i.e. new files not saved to disk), XO prompts an error with every keystroke:

[code]

It would be awesome if the extension can support or at least disable for them.

[2022-08-14 05:42] kidonng commented on #118
Actually it's not just untitled files, it's any file opened outside of a folder. This seems to be the same as #108, so the extension does support it but it's broken now.

[2022-08-14 14:24] Spence-S commented on #118
@kidonng regarding untitled/unsaved files, this may not be something we will pursue.

This extension always uses the _users_ xo (and any corresponding configs) to lint things, so untitled files are a grey area there.

The architecture of the extension is changing to attempt to resolve xo up from wherever the file is everytime, so it won't be dependant on being a file in the vscode workspace anymor

[2022-08-14 14:25] Spence-S commented on #95
Closing this road map as most of the goals have been met now. Will make individual issues for new features going forward.

[2022-08-14 14:25] #95 closed

[2022-08-27 16:39] Spence-S commented on #118
This should be resolved with the latest release

[2022-08-27 16:39] #118 closed

[2022-08-27 16:40] Spence-S commented on #117
Added in the latest release

[2022-08-27 16:40] #117 closed

[2022-08-27 16:42] Spence-S commented on #111
release 3.12.0 now allows for xo to be resolved from anywhere and is no longer needed in a workspace. All it needs is to find a parent directory where xo is installed.

[2022-08-27 16:42] #111 closed

[2022-08-27 16:43] Spence-S commented on #110
I think this is fixed now, tsconfig resolution has recently improved in xo. Closing.

[2022-08-27 16:43] #110 closed

[2022-09-19 17:59] lucafo741 opened #121 ""xo: Fix all auto-fixable problems" not working. Logging: Cannot read properties of undefined (reading 'protocol2CodeConverter')"
The "Fix all auto-fixable problems" command ain't working for me.
On the "Runtime Status" there's this `Cannot read properties of undefined (reading 'protocol2CodeConverter')` error logged for each try.

[2022-09-19 23:19] Spence-S commented on #113
Was able to get it working in the latest release so that this should no longer occur, thanks for the suggestions

[2022-09-19 23:19] #113 closed

[2022-09-19 23:20] Spence-S commented on #121
closed by 89702e2e18bc6ece22425d149fe2a121add8cb80

[2022-09-19 23:20] #121 closed

[2022-09-30 00:44] Spence-S commented on #97
This is now support in the 3.14 release

[2022-09-30 00:44] #97 closed

[2022-09-30 01:51] Spence-S commented on #16
Done v3.14.1

[2022-09-30 01:51] #16 closed

[2022-09-30 08:30] Nkmol opened #122 "Error 32603: Document version mismatch detected"
I get a standard error while formatting my file since 3.14.x. Everything worked correctly in 3.13.x.

[10:22:24:77] XO Library 0.52.3
				Resolved in Workspace .../node
				Cached for Folder .../node/providers
[10:22:24:78] XO Library 0.52.3
				Resolved in Workspace .../node
				Cached for Folder .../node/providers
[10:22:38:640] Document version mismatch detected
[10:22:38:640] Error: Document v

[2022-10-01 10:48] david-tejada opened #123 "This extension makes "jest --watch" run tests with every modification (not just on save)"
I think the title is pretty explanatory. It makes the extension unusable if I have "jest --watch" running. Any idea why this could be happening?

[2022-10-01 15:26] Spence-S commented on #123
Nothing I can think of directly related with the extension.

It could be that you have auto save turned on? Make sure it's turned off in your workspace as well as your global settings. "files.autosave" I think is the setting.

You could try some testing by disabling the "xo.format.enable" flag.

I run test watchers on the cli all the time with this extension running. I wouldn't think jest is any d

[2022-10-01 16:00] david-tejada commented on #123
Both "files.autosave" and "xo.format.enable" are off.

The tests are run through an npm script that just calls "jest --watch".

I will see if I can create a minimal example where it happens.

[2022-10-01 18:21] david-tejada commented on #123
I have a minimal repro example here: https://github.com/david-tejada/xo-jest-issue

Running `npm run test` and simply modifying (without saving) example.test.ts makes jest check for changes in the tests. You can add a new expect line below so that it doesn't show "No tests found since last commit" and you can see that the tests actually run.

A have disabled all extensions except for this one.

Le

[2022-10-01 18:44] Spence-S commented on #123
I won't be able to test this until tomorrow, however, using ts w no tsconfig, or a ts config which doesn't directly reference the test file in "files" or "include" options, will trigger xo to create a temp tsconfig in node_modules on every modification. This is the likely culprit.

You can get around this by adding a tsconfig which includes the test in the "include" or "files" options so xo doesn'

[2022-10-01 20:06] david-tejada commented on #123
I think you're onto something here. I actually have a tsconfig in the repo where I noticed the issue. I think the issue appeared after installing [this extension ](https://github.com/mattphillips/jest-expect-message) and setting up Typescript by adding the files entry to tsconfig. If I remove that line the issue goes away. I still have to figure out how to set it up so that it doesn't happen. I ha

[2022-10-01 21:19] Spence-S commented on #123
Ok I see!

Unfortunately, this isn't a bug but just an inconvenience with using `jest watch` + `ts` + `xo` all working appropriately.

I think your best setup option is this:

In your root dir:
[code]

The contents of you `tsconfig.xo.json`
[code]

In `package.json` (or other xo config)
[code]

Now xo will never have to write a temp file to lint `ts` files correctly and your issue should be solved

[2022-10-01 21:19] #123 closed

[2022-10-02 10:02] david-tejada commented on #123
That worked like a charm! Thanks a lot!

[2022-10-02 10:48] Nkmol commented on #122
@Spence-S Thanks for the comment.

This actually happened after every save. Even after restarting VSCode, clearing cache, restarting linter and reinstalling the extension.

Not sure if and how I can provide more debug info.

[2022-10-02 12:36] Spence-S commented on #122
Ah ok - Sorry for the inconvenience. If you still need to use the extension in the mean time, vscode allows you to install previous versions of an extension.

In recent changes (3.14 and 3.14.1) 2 major things changed. We added support for range formatting requests and we changed a code action type, to apply a fix to a specific lint problem, to "quickfix" instead of "refactor". We also solved a bu

[2022-10-02 13:56] Nkmol commented on #122
@Spence-S Indeed I am currently using an older version. Thanks again for the comment.

After debugging some more, disabled all extensions expect VSCode, I think I found the culprit. On the older versions, I already noticed very buggy import formatting, where it sometimes would totally screw up the import code-lines. I think this is one of the scenarios you speak of, and which you actually protect

[2022-10-02 13:56] #122 closed

[2022-10-04 15:25] spence-s opened #124 "[bug] status bar should not show if xo cannot be found"

[2022-10-16 14:10] Bauke opened #125 "Publish linter-xo to Open VSX"
Dear extension author,
Please publish this extension to the Open VSX marketplace.

## Context

Unfortunately, as Microsoft prohibits usages of the Microsoft marketplace by any other products or redistribution of `.vsix` files from it, in order to use VS Code extensions in non-Microsoft products, we kindly ask that you take ownership of the VS Code extension namespace in [Open VSX](https://open-vsx

[2022-10-25 17:25] spence-s opened #126 "[bug] ignore same line code actions inserts an empty line below"

[2022-11-11 02:18] spence-s commented on #125
done! https://open-vsx.org/extension/samverschueren/linter-xo

[2022-11-11 02:18] #125 closed